@import "./tailwind.css";
@import "./tailwindHeader.css";
@import "./tailwindHero.css";
@import "./tailwindFooter.css";
@import "./tailwindBlocksPage.css";
@import "./tailwindAnimation.css";
@import "./tailwindForms.css";
@import "./tailwindGrid.css";
@import "./tailwindPopup.css";
 /* #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
    z-index: 9;
    top: 81px;
    left: calc(50% - 960px + 1217px);
    width: 45px;
    height: 45px;
  } */

  /* #rec817107025 .tn-elem[data-elem-id="1730021618470"] .tn-atom {
    border-radius: 3000px;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
  } */

  /* @media screen and (max-width: 1919px) {
    #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
      top: 66px;
      left: calc(50% - 840px + 1111px);
    }
  } */

  /* @media screen and (max-width: 1679px) {
    #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
      top: 51px;
      left: calc(50% - 700px + 919px);
    }
  } */

  /* @media screen and (max-width: 1399px) {
    #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
      top: 45px;
      left: calc(50% - 600px + 758px);
      width: 37px;
      height: 37px;
    }
  } */

  /* @media screen and (max-width: 1199px) {
    #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
      left: calc(50% - 480px + 596px);
    }
  } */

  /* @media screen and (max-width: 959px) {
    #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
      left: calc(50% - 320px + 440px);
    }
  } */

  /* @media screen and (max-width: 639px) {
    #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
      top: 47px;
      left: calc(50% - 240px + 433px);
    }
  } */

  /* @media screen and (max-width: 479px) {
    #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
      top: 15px;
      left: calc(50% - 160px + 271px);
    }
  } */