@tailwind utilities;

@layer utilities {
  /* база анимаций */
  .t396 .t-animate[data-animate-style="fadein"],
  .t396 .t-animate[data-animate-style="fadeindown"],
  .t396 .t-animate[data-animate-style="fadeinleft"],
  .t396 .t-animate[data-animate-style="fadeinright"],
  .t396 .t-animate[data-animate-style="fadeinup"],
  .t396 .t-animate[data-animate-style="zoomin"],
  .t396 .t-animate[data-animate-style="zoomout"] {
    opacity: 0;
  }

  @screen max-980 {
    .t-animate[data-animate-style="fadein"],
    .t-animate[data-animate-style="fadeindown"],
    .t-animate[data-animate-style="fadeinleft"],
    .t-animate[data-animate-style="fadeinright"],
    .t-animate[data-animate-style="fadeinup"],
    .t-animate[data-animate-style="zoomin"],
    .t-animate[data-animate-style="zoomout"] {
      opacity: 0;
      -webkit-transition-property: opacity, transform;
      transition-property: opacity, transform;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    /* заголовки */
    .t-title.t-animate {
      -webkit-transition-duration: 1.2s;
      transition-duration: 1.2s;
    }

    /* текст */
    .t-descr.t-animate,
    .t-subtitle.t-animate,
    .t-text.t-animate,
    .t-uptitle.t-animate {
      -webkit-transition-duration: 0.7s;
      transition-duration: 0.7s;
    }

    /* элементы */
    .t-item.t-animate {
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
    }

    /* анимация fadein */
    .t-animate_started[data-animate-style="fadein"] {
      opacity: 1;
    }

    /* анимация fadeinup */
    .t-animate[data-animate-style="fadeinup"] {
      -webkit-transform: translate(0, 100px);
      transform: translate(0, 100px);
    }

    .t-animate_started[data-animate-style="fadeinup"] {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }

    /* анимация fadeindown */
    .t-animate[data-animate-style="fadeindown"] {
      -webkit-transform: translate(0, -100px);
      transform: translate(0, -100px);
    }

    .t-animate_started[data-animate-style="fadeindown"] {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }

    /* анимация fadeinleft */
    .t-animate[data-animate-style="fadeinleft"] {
      -webkit-transform: translate(100px, 0);
      transform: translate(100px, 0);
    }

    .t-animate_started[data-animate-style="fadeinleft"] {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }

    /* анимация fadeinright */
    .t-animate[data-animate-style="fadeinright"] {
      -webkit-transform: translate(-100px, 0);
      transform: translate(-100px, 0);
    }

    .t-animate_started[data-animate-style="fadeinright"] {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }

    /* анимация zoomin */
    .t-animate[data-animate-style="zoomin"] {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }

    .t-animate_started[data-animate-style="zoomin"] {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    /* анимация zoomout */
    .t-animate[data-animate-style="zoomout"] {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    .t-animate_started[data-animate-style="zoomout"] {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    /* анимация для элементов с расстоянием и масштабом */
    .t-animate_started[data-animate-distance],
    .t-animate_started[data-animate-scale] {
      -webkit-transform: none !important;
      transform: none !important;
    }
  }
  
  .t-animate-for-wrapper .t-animate:not(.t-animate_started) {
    opacity: 0 !important;
    transition-duration: 0s !important;
  }
}
