@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .z-990 {
    z-index: 990;
  }
  .z-15 {
    z-index: 15;
  }
  .z-989{
    z-index: 989;
  }
  .lineHeight {
    line-height: 28px;
  }
}

@layer base {
  .csssize {
    height: 7075px;
  }

  .t-body {
    margin: 0;
  }

  #allrecords {
    -webkit-font-smoothing: antialiased;
    background-color: none;
  }

  #allrecords a {
    color: #0179ff;
    text-decoration: none;
  }

  #allrecords a,
  #allrecords button,
  #allrecords .t-radio,
  #allrecords .t-checkbox,
  #allrecords .t-img-select {
    outline: none;
    color: black;
  }

  #allrecords a:focus-visible,
  #allrecords button:focus-visible,
  #allrecords .t-focusable,
  #allrecords .t-focusable .t-btn,
  #allrecords .t-focusable .t-btntext,
  #allrecords .t-img-select:focus-visible + .t-img-select__indicator,
  #allrecords .t-img-select:focus-visible + .t-img-select__indicator:after,
  #allrecords .t-radio:focus-visible + .t-radio__indicator,
  #allrecords .t-checkbox:focus-visible + .t-checkbox__indicator {
    outline-color: #2015ff;
    outline-offset: 4px;
    outline-style: auto;
  }

  #allrecords .t-descr a:focus-visible,
  #allrecords .t-sociallinks a:focus-visible,
  #allrecords .ya-share2__link:focus-visible {
    outline-offset: 2px;
  }

  #allrecords a[href^="tel"] {
    color: inherit;
    text-decoration: none;
  }

  #allrecords ol {
    padding-left: 22px;
  }

  #allrecords ul {
    padding-left: 20px;
  }

  #allrecords b,
  #allrecords strong {
    font-weight: 700;
  }

  @media print {
    body,
    html {
      min-width: 1200px;
      max-width: 1200px;
      padding: 0;
      margin: 0 auto;
      border: none;
    }
  }

  .t-mbfix {
    opacity: 0.01;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
    width: 100%;
    height: 500px;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10000;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }

  .t-mbfix_hide {
    -webkit-transform: translateX(3000px);
    -ms-transform: translateX(3000px);
    transform: translateX(3000px);
  }

  img:not([src]) {
    visibility: hidden;
  }

  .t-body_scroll-locked {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .r_anim {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .r_hidden {
    opacity: 0;
  }

  .r_showed {
    opacity: 1;
  }

  @media screen and (max-width: 1024px) {
    a:active,
    button:active {
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
    }
  }

  .t-text {
    @apply font-sans font-light text-black;
  }

  .t-text_xs {
    font-size: 15px;
    line-height: 1.55;
  }

  .t-text_sm {
    font-size: 18px;
    line-height: 1.55;
  }

  .t-name {
    @apply font-sans font-semibold text-black;
  }

  .t-name_xl {
    font-size: 24px;
    line-height: 1.35;
  }

  .t-heading {
    @apply font-sans font-semibold text-black;
  }

  .t-heading_md {
    font-size: 30px;
    line-height: 1.17;
  }

  .t-title {
    @apply font-sans font-semibold text-black;
  }

  .t-descr {
    @apply font-sans font-light text-black;
  }

  .t-descr_xxs {
    font-size: 14px;
    line-height: 1.55;
  }

  .t-descr_xs {
    font-size: 16px;
    line-height: 1.55;
  }

  .t-valign_middle {
    @apply align-middle;
  }

  .t-tildalabel {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 70px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

  .t-tildalabel:hover .t-tildalabel__wrapper {
    opacity: 1;
  }

  .t-tildalabel_white {
    @apply bg-white text-black;
  }

  .t-tildalabel_white .t-tildalabel__link {
    color: #000;
  }

  .t-tildalabel__wrapper {
    @apply table h-7 w-[270px] mx-auto pt-5 opacity-40;
  }

  .t-tildalabel__txtleft {
    @apply table-cell w-[120px] h-7 align-middle text-right pr-3 font-light text-xs;
  }

  .t-tildalabel__wrapimg {
    @apply table-cell w-7 h-7 align-middle;
  }

  .t-tildalabel__img {
    @apply w-7 h-7 align-middle;
  }

  .t-tildalabel__txtright {
    @apply table-cell w-[120px] h-7 align-middle pl-3 font-medium tracking-wide;
  }

  .t-tildalabel__link {
    @apply text-white no-underline align-middle;
  }

  .t-popup {
    @apply hidden;
  }

  .t-submit,
  .t-input,
  .t-input__vis-ph,
  .t-select,
  .t-input-error,
  .t-form__errorbox-wrapper,
  .t-form__errorbox-text,
  .t-form__errorbox-item,
  .t-form__successbox {
    @apply font-sans;
  }

  .t-rec_pt_0 {
    padding-top: 0;
  }

  .t-rec_pt_75 {
    padding-top: 75px;
  }

  .t-rec_pt_90 {
    padding-top: 90px;
  }

  .t-rec_pb_0 {
    padding-bottom: 0;
  }

  .t-rec_pb_105 {
    padding-bottom: 105px;
  }

  @screen max-1200 {
    .t-text_xs {
      font-size: 14px;
    }
    .t-text_sm {
      font-size: 16px;
    }
    .t-descr_xxs {
      font-size: 12px;
    }
    .t-descr_xs {
      font-size: 14px;
    }
    .t-name_xl {
      font-size: 22px;
    }
    .t-heading_md {
      font-size: 28px;
    }
  }

  /* max-width: 640px */
  @screen max-640 {
    .t-text_xs {
      font-size: 12px;
      line-height: 1.45;
    }
    .t-text_sm {
      font-size: 14px;
      line-height: 1.45;
    }
    .t-descr_xs {
      font-size: 12px;
      line-height: 1.45;
    }
    .t-name_xl {
      font-size: 24px;
    }
    .t-heading_md {
      font-size: 24px;
    }
  }
  /* max-width: 480px */
  @screen max-480 {
    .t-rec_pt_0 {
      padding-top: 0;
    }
    .t-rec_pt_75 {
      padding-top: 75px;
    }
    .t-rec_pt_90 {
      padding-top: 90px;
    }
    .t-rec_pb_0 {
      padding-bottom: 0;
    }
    .t-rec_pb_105 {
      padding-bottom: 90px;
    }
  }
  /* max-width: 1200px */
  @screen max-1200 {
    .t-screenmin-1200px {
      display: none;
    }
  }

  @screen max-980 {
    .t-screenmin-980px {
      display: none;
    }
  }
  /* max-width: 640px */
  @screen max-640 {
    .t-screenmin-640px {
      display: none;
    }
  }

  /* max-width: 480px */
  @screen max-480 {
    .t-screenmin-480px {
      display: none;
    }
  }

  /* max-width: 320px */
  @screen max-320 {
    .t-screenmin-320px {
      display: none;
    }
  }

  /* min-width: 321px */
  @screen min-321 {
    .t-screenmax-320px {
      display: none;
    }
  }

  /* min-width: 481px */
  @screen min-481 {
    .t-screenmax-480px {
      display: none;
    }
  }

  /* min-width: 641px */
  @screen min-641 {
    .t-screenmax-640px {
      display: none;
    }
  }

  /* min-width: 981px */
  @screen min-981 {
    .t-screenmax-980px {
      display: none;
    }
  }

  /* min-width: 1201px */
  @screen min-1201 {
    .t-screenmax-1200px {
      display: none;
    }
  }

  /* max-width: 960px */
  @screen max-960 {
    .t585 .t-col:not(:last-child) .t585__border {
      @apply hidden;
    }
  }

  /* max-width: 640px */
  @screen max-640 {
    .t585__trigger-button {
      @apply pt-[15px] pb-[14px];
    }

    .t585__text {
      @apply mb-[15px];
    }

    .t585__text > a {
      @apply break-words;
    }

    .t585__textwrapper {
      @apply p-0 pb-[10px];
    }
  }

  .t123__centeredContainer {
    text-align: center;
  }

  .t119__preface {
    @apply text-black text-2xl leading-tight;
  }

  @screen sm {
    .t119__preface {
      @apply text-base;
    }
  }

  @screen md {
    .t119__preface {
      margin-top: -1px;
    }
  }

  .t282_opened {
    @apply h-screen min-h-screen overflow-hidden;
  }

  .t282__container {
    @apply w-full fixed top-0 left-0 right-0 transform-none;
    @apply z-990;
  }

  .t282__beforeready {
    visibility: hidden;
  }

  .t282_opened .t282__container {
    @apply fixed top-0 left-0 right-0 !important;
  }

  .t282_opened .t282__container:not(.t282__closed) {
    @apply z-[99999];
  }

  .t282__container.t282__positionfixed {
    @apply fixed top-0 left-0 right-0;
  }

  .t282__container.t282__positionstatic {
    @apply relative top-auto right-auto left-auto;
  }

  .t282__container.t282__positionabsolute {
    @apply absolute;
  }

  .t282__col-12 {
    max-width: 1160px;
  }

  .t282__container__bg,
  .t282__container__bg_opened {
    @apply absolute top-0 right-0 bottom-0 left-0 z-10 transition-all ease-in-out duration-100;
  }

  .t282__container__bg_opened {
    opacity: 0;
    background: #fff;
  }

  .t282_opened .t282__container__bg_opened {
    opacity: 1;
  }

  .t282_opened .t282__container__bg {
    opacity: 0 !important;
  }

  .t282__menu__content {
    @apply relative mx-auto px-10 flex items-center;
  }

  .t282__logo__container {
    @apply flex items-center min-h-[100px] mr-auto;
  }

  .t282__logo__container:after {
    content: "";
    display: block;
    min-height: inherit;
    font-size: 0;
  }

  .t282__logo__content {
    @apply h-full;
  }

  .t282__logo {
    @apply relative z-10 transition-opacity ease-in-out duration-200;
  }

  .t282__logo__img {
    @apply block h-full;
  }

  .t282__menu__content {
    @apply z-15;
  }

  .t282__menu__container {
    @apply fixed top-0 left-0 right-0 transition-transform duration-[500ms] ease-in-out;
  }

  .t282__menu__container.t282__closed {
    @apply translate-y-[200%] !important;
  }

  .t282__menu__wrapper {
    @apply text-center bg-white w-full;
  }

  .t282__overlay {
    @apply fixed top-0 left-0 right-0 bottom-0 transition-all duration-300 ease-in-out cursor-pointer z-989 bg-black opacity-60;
  }

  .t282__overlay.t282__closed {
    opacity: 0;
    z-index: -1;
  }

  .t282__menu {
    @apply py-8 px-5;
  }

  #allrecords ul.t282__menu__items {
    @apply list-none p-5 py-14;
  }

  .t282__menu__item {
    @apply mb-5 text-[#222];
  }

  .t282__menu__item:last-child {
    @apply mb-0;
  }

  .t282__menu__link {
    @apply inline-block text-[#222];
  }

  .t282__menu__link.t-active {
    @apply opacity-70;
  }

  .t282__descr {
    @apply max-w-[540px] mx-auto;
  }

  .t282__share {
    @apply mt-5;
  }

  #allrecords ul.ya-share2__list {
    @apply pl-0;
  }

  .t282 .t-sociallinks__item,
  .t282__social__item {
    @apply inline-block mx-1;
  }

  .t282 .t-sociallinks__wrapper,
  .t282__social__wrapper {
    @apply mt-5;
  }

  #allrecords .t282 ul.t-sociallinks__wrapper {
    @apply mb-0 pl-0 list-none;
  }

  .t282__lang {
    @apply mt-5;
  }

  @screen max-1200 {
    .t282__menu__content {
      @apply px-5;
    }
  }

  @screen md {
    .t282__menu .t-menusub__menu {
      @apply mb-5;
    }

    .t282__menu .t-menusub__content {
      @apply mt-5 pt-1;
    }

    .t282__menu__container {
      @apply overflow-y-scroll overflow-x-hidden bottom-0;
    }
  }

  @screen sm {
    .t282__menu__content {
      @apply px-5;
    }
  }

  .t282 .ya-share2__container_size_m .ya-share2__icon {
    @apply w-28 h-28;
  }

  .t282 .ya-share2__container_size_m .ya-share2__counter {
    @apply lineHeight;
  }

  .t282__black-white .ya-share2__badge {
    @apply bg-[#111] !important;
  }

  .t282__transp-white .ya-share2__badge {
    @apply bg-transparent !important;
  }

  .t282__transp-white .ya-share2__container_size_m .ya-share2__counter:before {
    @apply hidden;
  }

  .t282__transp-white .ya-share2__container_size_m .ya-share2__counter {
    @apply pl-0 mt-1;
  }

  .t282__white-black .ya-share2__badge {
    @apply bg-white !important;
  }
}

@layer utilities {
  .t282__transp-black .ya-share2__badge {
    @apply bg-transparent !important;
  }

  .t282__transp-black .ya-share2__container_size_m .ya-share2__counter {
    @apply text-[#222] pl-0 mt-1;
  }

  .t282__transp-black .ya-share2__counter:before {
    @apply hidden;
  }
  .t1093 .t-popup {
    padding: 0;
    z-index: 99999;
    background-color: transparent;
    transition: none;
  }

  .t1093 .t-popup.t-popup-disabled-bg,
  .t1093 .t-popup.t-popup_hover-trigger {
    pointer-events: none;
  }

  .t1093 .t-popup.t-popup-disabled-bg .t-popup__close,
  .t1093 .t-popup.t-popup_hover-trigger .t-popup__close,
  .t1093 .t-popup.t-popup_show .t396__artboard_pointer-events-auto {
    pointer-events: auto;
  }

  .t1093 .t-popup.t-popup-transition + .t-popup__bg {
    transition-property: opacity;
    transition-duration: 0.3s;
  }

  .t1093 .t-popup__bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    pointer-events: none;
    opacity: 0;
    display: none;
  }

  .t1093 .t-popup__bg.t-popup__bg-active {
    display: block;
    opacity: 1;
  }

  .t1093 .t-popup__container {
    left: 0;
    right: 0;
    background-color: transparent;
    pointer-events: none;
  }

  .t1093
    .t-popup.t-popup_show
    .r:not([data-record-type="396"]):not([data-record-type="121"]),
  .t1093 .t-popup.t-popup_show .tn-elem {
    pointer-events: auto;
  }

  .t1093 .t-popup__container.t-valign_top {
    transform: none;
    top: 0;
  }

  .t1093 .t-popup__container.t-popup__container-static.t-valign_top,
  .t1093 .t-popup__container.t-popup__container-static.t-valign_bottom {
    margin: 0 auto;
  }

  .t1093 .t-popup__container.t-valign_bottom {
    transform: none;
    top: auto;
    bottom: 0;
  }

  .t1093 .t-popup-transition:not(.t-popup-anim-fadein):not(.t-popup-fadeout) {
    overflow: hidden;
    overflow-y: auto;
  }

  .t1093 .t-popup-transition {
    opacity: 1;
  }

  .t1093 .t-popup-transition:not(.t-popup_show) {
    pointer-events: none;
  }

  .t1093
    .t-popup-transition.t-popup-safari.t-popup-anim-appearfromright
    .t-popup__container,
  .t1093
    .t-popup-transition.t-popup-safari.t-popup-anim-appearfrombottom
    .t-popup__container {
    opacity: 0;
    transition-property: transform, opacity;
  }

  .t1093
    .t-popup-transition.t-popup-safari.t-popup-anim-appearfromright.t-popup_show
    .t-popup__container,
  .t1093
    .t-popup-transition.t-popup-safari.t-popup-anim-appearfrombottom.t-popup_show
    .t-popup__container {
    opacity: 1;
  }

  .t1093 .t-popup-transition:not(.t-popup-anim-fadein) .t-popup__container {
    transition-property: transform;
    transition-duration: 0.3s;
  }

  .t1093 .t-popup-anim-fadein .t-popup__container,
  .t1093 .t-popup-fadeout:not(.t-popup_show) .t-popup__container {
    opacity: 0;
    transform: none;
    transition-property: opacity;
    transition-duration: 0.3s;
  }

  .t1093
    .t-popup-anim-fadein
    .t-valign_middle.t-popup__container:not(.t-popup__container-static) {
    transform: translateY(-50%);
  }

  .t1093 .t-popup-anim-appearfromtop .t-popup__container {
    transform: translateY(-100vh);
  }

  .t1093 .t-popup-anim-appearfrombottom .t-popup__container {
    transform: translateY(100vh);
  }

  .t1093
    .t-popup-anim-appearfromtop
    .t-popup__container.t-popup__container-static {
    transform: translateY(-100%);
  }

  .t1093
    .t-popup-anim-appearfrombottom
    .t-popup__container.t-popup__container-static {
    transform: translateY(100%);
  }

  .t1093 .t-popup-anim-appearfromright .t-popup__container {
    transform: translateX(100%);
  }

  .t1093 .t-popup-anim-appearfromleft .t-popup__container {
    transform: translateX(-100%);
  }

  .t1093
    .t-popup-anim-appearfromright
    .t-popup__container.t-valign_middle:not(.t-popup__container-static) {
    transform: translate(100%, -50%);
  }

  .t1093
    .t-popup-anim-appearfromleft
    .t-popup__container.t-valign_middle:not(.t-popup__container-static) {
    transform: translate(-100%, -50%);
  }

  .t1093
    .t-popup-transition.t-popup_show:not(.t-popup-anim-fadein)
    .t-popup__container,
  .t1093
    .t-popup-transition.t-popup-fadeout:not(.t-popup-anim-fadein)
    .t-popup__container {
    transform: translate(0, 0);
  }

  .t1093
    .t-popup-transition.t-popup_show:not(.t-popup-anim-fadein)
    .t-popup__container.t-valign_middle:not(.t-popup__container-static),
  .t1093
    .t-popup-transition.t-popup-fadeout:not(.t-popup-anim-fadein)
    .t-popup__container.t-valign_middle:not(.t-popup__container-static) {
    transform: translate(0, -50%);
  }

  .t1093
    .t-popup-transition.t-popup_show.t-popup-anim-fadein
    .t-popup__container {
    opacity: 1;
  }

  .t1093 .t-popup-transition.t-popup-fadeout .t-popup__container {
    transition-property: opacity;
  }

  .t1093 .js-send-form-success .t-form__inputsbox {
    display: none;
  }

  #allrecords .t-text a,
  #allrecords .t-descr:not(.t706__product-title) a,
  #allrecords .t-heading a:not(.t-card__link),
  #allrecords .t-title a,
  #allrecords .t-impact-text a,
  #allrecords .t-text-impact a,
  #allrecords
    .t-name:not(.t-feed__parts-switch-btn):not(.t-feed__post-title)
    a:not(.t794__typo):not(.t-menusub__link-item):not(.t-card__link),
  #allrecords .t-uptitle a,
  #allrecords .tn-atom[field] a {
    transition: color 0.3s;
    color: #0179ff;
    text-decoration: none;
  }

  #allrecords .t-text a:hover,
  #allrecords .t-descr:not(.t706__product-title) a:hover,
  #allrecords .t-heading a:not(.t-card__link):hover,
  #allrecords .t-title a:hover,
  #allrecords .t-impact-text a:hover,
  #allrecords .t-text-impact a:hover,
  #allrecords
    .t-name:not(.t-feed__parts-switch-btn):not(.t-feed__post-title)
    a:not(.t794__typo):not(.t-menusub__link-item):not(.t-card__link):hover,
  #allrecords .t-uptitle a:hover,
  #allrecords .tn-atom[field] a:hover {
    color: #314ec6;
  }

  #allrecords .t-text a:hover,
  #allrecords .t-descr:not(.t706__product-title) a:hover,
  #allrecords .t-heading a:not(.t-card__link):hover,
  #allrecords .t-title a:hover,
  #allrecords .t-impact-text a:hover,
  #allrecords .t-text-impact a:hover,
  #allrecords
    .t-name:not(.t-feed__parts-switch-btn):not(.t-feed__post-title)
    a:not(.t794__typo):not(.t-menusub__link-item):not(.t-card__link):hover,
  #allrecords .t-uptitle a:hover,
  #allrecords .tn-atom[field] a:hover {
    border-color: #0179ff;
  }
}

@layer components {
  .t396__iframe {
    z-index: 10000;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
  }

  .t396__body_overflow_hidden {
    overflow: hidden;
  }

  .t396__display_none {
    display: none;
  }

  .t396__artboard {
    position: relative;
    width: 100%;
    height: 42vh;
    overflow: hidden;
  }

  .t396__artboard .t396__artboard_scale {
    overflow: visible;
  }

  .t396__artboard.t396__artboard_scale
    .t396__elem[data-elem-type="text"]
    .tn-atom {
    word-break: normal;
    -moz-osx-font-smoothing: grayscale;
  }

  .t396__artboard_scale .t396__carrier,
  .t396__artboard_scale .t396__filter {
    transform-origin: top left;
  }

  .tn-atom__scale-wrapper {
    width: inherit;
    height: inherit;
  }

  .t396__elem .tn-atom__scale-wrapper .tn-atom {
    width: inherit;
    height: inherit !important;
    box-sizing: border-box;
  }

  .t396__artboard.rendering .tn-elem {
    visibility: hidden;
  }

  .t396__artboard.rendered .tn-elem {
    visibility: visible;
  }

  .t396__carrier {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    -moz-transform: unset;
  }

  .t396__filter {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    transform: translateZ(0);
  }

  .t396__elem {
    position: absolute;
    box-sizing: border-box;
    display: table;
  }

  .t396 .tn-atom {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  @media screen and (max-width: 959px) {
    .t396_safari .t396__artboard_scale .tn-atom {
      -webkit-text-size-adjust: auto;
      -moz-text-size-adjust: auto;
      -ms-text-size-adjust: auto;
    }
  }

  .t396 .tn-atom ul,
  .t396 .tn-atom ol {
    margin-bottom: 0;
  }

  .t396_safari .tn-atom:not(.tn-atom__form) {
    transform: translateZ(0);
  }

  .t396 a.tn-atom {
    text-decoration: none;
  }

  .t396 .tn-atom__img {
    width: 100%;
    display: block;
  }

  .t396 .tn-atom__html {
    vertical-align: top;
  }

  .t396 .tn-atom__pin {
    border-radius: 1000px;
    border-style: solid;
  }

  .t396 .tn-atom__pin_onclick {
    cursor: pointer;
  }

  .t396 .tn-atom__tip {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    max-width: 90vw;
    padding: 15px;
    display: none;
  }

  .t396 .tn-atom__pin:hover .tn-atom__tip {
    display: none;
  }

  .t396 .tn-atom__tip-img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .t396 .tn-atom__tip[data-tip-pos="top"] {
    bottom: 100%;
    margin-bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .t396 .tn-atom__tip[data-tip-pos="bottom"] {
    top: 100%;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .t396 .tn-atom__tip[data-tip-pos="left"] {
    right: 100%;
    margin-right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .t396 .tn-atom__tip[data-tip-pos="right"] {
    left: 100%;
    margin-left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .t396__ui {
    position: absolute;
    top: 16px;
    left: 196px;
    background-color: #fa876b;
    color: #000 !important;
    height: 30px;
    line-height: 30px;
    width: 100px;
    z-index: 1000;
    text-align: center;
    border-radius: 3px;
    display: none;
    font-size: 14px;
  }

  .t396__artboard.t396__artboard-fixed-active {
    transform: none !important;
    opacity: 1 !important;
  }

  .t396__artboard-fixed-no-bg,
  .t396__artboard-fixed-innactive,
  .t396__artboard-fixed-innactive .t396__elem,
  .t396__artboard-fixed-no-bg.t396__artboard-fixed-innactive .t396__elem {
    pointer-events: none;
  }

  .t396__artboard-fixed-no-bg .t396__elem {
    pointer-events: auto;
  }

  .t396__elem-flex {
    position: relative !important;
    left: initial !important;
    top: initial !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@layer components {
  .t585 > .t-container {
    @apply flex flex-wrap;
  }

  .t585__header {
    @apply relative cursor-pointer border-t border-gray-200;
  }

  .t585__trigger-button {
    @apply relative w-full p-[27px] pr-[50px] pl-0 text-left bg-transparent border-none box-border cursor-pointer;
  }

  #allrecords button.t585__trigger-button:focus-visible {
    outline-offset: 2px;
  }

  .t585__title {
    @apply inline-block;
  }

  .t585__icon {
    @apply absolute top-1/2 right-0 inline-block w-6 h-6 p-2 transform -translate-y-1/2 transition-opacity ease-in-out duration-200;
  }

  .t585__icon-hover {
    @apply opacity-0;
  }

  .t585__header:hover .t585__icon,
  .t585__trigger-button:focus-visible .t585__icon {
    @apply opacity-0;
  }

  .t585__header:hover .t585__icon-hover,
  .t585__trigger-button:focus-visible .t585__icon-hover {
    @apply opacity-100;
  }

  .t585__row:after {
    content: "";
    @apply table-clear;
  }

  .t585__circle {
    @apply absolute top-0 left-0 w-10 h-10 rounded-full;
  }

  .t585__lines {
    @apply relative z-10 block w-full h-full transition-all ease-in-out duration-300 transform rotate-0;
  }

  .t585__opened .t585__lines {
    @apply z-10 transform rotate-[-45deg] transition-all ease-in-out duration-300;
  }

  .t585__content {
    @apply hidden overflow-hidden transition-[max-height,opacity] ease-in-out duration-300;
  }

  .t585 .t585__content ol {
    @apply pl-[22px] list-inside;
    text-indent: -22px;
  }

  .t585__textwrapper {
    @apply p-0 pb-5;
  }

  .t585__text {
    @apply mb-5;
  }

  #allrecords .t585__text > ul,
  #allrecords .t585__text > ol {
    @apply pl-[26px];
  }

  .t585__img {
    @apply block w-full mb-3.5;
  }

  .t585__border {
    @apply w-full h-px bg-gray-200;
  }
}
