@tailwind components;
@tailwind utilities;

@layer utilities {
  .z-2 {
    z-index: 2;
  }
  .z-3 {
    z-index: 3;
  }
  .z-4 {
    z-index: 4;
  }
  .z-5 {
    z-index: 5;
  }
  .rounded-0 {
    rounded: 0;
  }
}

@layer components {
  .t396__artboard {
    @apply h-[332px];
  }

  .t396__filter,
  .t396__carrier {
    @apply h-[332px];
  }

  .t396__carrier {
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @screen max-1919 {
    #rec815345943 .t396__carrier {
      background-attachment: scroll;
    }
  }

  @screen max-1679 {
    #rec815345943 .t396__carrier {
      background-attachment: scroll;
    }
  }

  @screen max-1399 {
    #rec815345943 .t396__artboard,
    #rec815345943 .t396__filter,
    #rec815345943 .t396__carrier {
      @apply h-[332px];
    }

    #rec815345943 .t396__carrier {
      background-attachment: scroll;
    }
  }

  @screen max-1199 {
    #rec815345943 .t396__artboard,
    #rec815345943 .t396__filter,
    #rec815345943 .t396__carrier {
      @apply h-[299px];
    }

    #rec815345943 .t396__carrier {
      background-attachment: scroll;
    }
  }

  @screen max-959 {
    #rec815345943 .t396__artboard,
    #rec815345943 .t396__filter,
    #rec815345943 .t396__carrier {
      @apply h-[646px];
    }

    #rec815345943 .t396__carrier {
      background-attachment: scroll;
    }
  }

  @screen max-639 {
    #rec815345943 .t396__artboard,
    #rec815345943 .t396__filter,
    #rec815345943 .t396__carrier {
      @apply h-[502px];
    }

    #rec815345943 .t396__carrier {
      background-attachment: scroll;
    }
  }

  @screen max-479 {
    #rec815345943 .t396__artboard,
    #rec815345943 .t396__filter,
    #rec815345943 .t396__carrier {
      @apply h-[539px];
    }

    #rec815345943 .t396__carrier {
      background-attachment: scroll;
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1729491601910"] {
    @apply z-2 top-[18px] left-[calc(50%-960px+10px)] w-[1900px] h-[371px];
  }

  #rec815345943 .tn-elem[data-elem-id="1729491601910"] .tn-atom {
    @apply border border-solid rounded-[25px] bg-white bg-center border-[#0179ff];
  }

  @screen max-1919 {
    #rec815345943 .tn-elem[data-elem-id="1729491601910"] {
      @apply top-[18px] left-[calc(50%-840px+9px)] w-[99%];
    }
  }

  @screen max-1679 {
    #rec815345943 .tn-elem[data-elem-id="1729491601910"] {
      @apply left-[calc(50%-700px+-7px)] w-[101%];
    }
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1729491601910"] {
      @apply top-[18px] left-[calc(50%-600px+0px)] w-[100px] h-[371px];
    }
  }

  @screen max-959 {
    #rec815345943 .tn-elem[data-elem-id="1729491601910"] {
      @apply top-[18px] left-[calc(50%-320px+0px)] h-[754px];
    }
  }

  @screen max-639 {
    #rec815345943 .tn-elem[data-elem-id="1729491601910"] {
      @apply h-[520px];
    }
  }

  @screen max-479 {
    #rec815345943 .tn-elem[data-elem-id="1729491601910"] {
      @apply top-0 left-[calc(50%-160px+-40px)] w-[125px] h-[631px];
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1475147461250"] {
    @apply text-[#525252] z-3 top-[138px] left-[calc(50%-960px+380px)] w-[360px];
  }

  #rec815345943 .tn-elem[data-elem-id="1475147461250"] .tn-atom {
    @apply text-[#525252] text-[14px] font-[Arial] leading-[2] font-[400] bg-center border-transparent border-solid;
  }

  @screen max-1919 {
    #rec815345943 .tn-elem[data-elem-id="1475147461250"] {
      @apply top-[130px] left-[calc(50%-840px+199px)];
    }
  }

  @screen max-1679 {
    #rec815345943 .tn-elem[data-elem-id="1475147461250"] {
      @apply left-[calc(50%-700px+119px)];
    }
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1475147461250"] {
      @apply top-[130px] left-[calc(50%-600px+69px)] w-[360px];
    }

    #rec815345943 .tn-elem[data-elem-id="1475147461250"] .tn-atom {
      @apply text-[14px];
    }
  }

  @screen max-1199 {
    #rec815345943 .tn-elem[data-elem-id="1475147461250"] {
      @apply top-[128px] left-[calc(50%-480px+70px)] w-[300px];
    }

    #rec815345943 .tn-elem[data-elem-id="1475147461250"] .tn-atom {
      @apply text-[12px];
    }
  }

  @screen max-959 {
    #rec815345943 .tn-elem[data-elem-id="1475147461250"] {
      @apply top-[586px] left-[calc(50%-320px+170px)] text-center;
    }
  }

  @screen max-639 {
    #rec815345943 .tn-elem[data-elem-id="1475147461250"] {
      @apply top-[120px] left-[calc(50%-240px+18px)] w-[444px] text-left;
    }
  }

  @screen max-479 {
    #rec815345943 .tn-elem[data-elem-id="1475147461250"] {
      @apply top-[102px] left-[calc(50%-160px+62px)] w-[196px] text-center;
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1729491673684"] {
    @apply z-4 top-[186px] left-[calc(50%-960px+-350px)] w-[1900px] h-[153px];
  }

  #rec815345943 .tn-elem[data-elem-id="1729491673684"] .tn-atom {
    @apply border border-solid border-[#0179ff] rounded-0 bg-white bg-center;
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1729491673684"] {
      @apply top-[186px] left-[calc(50%-600px+-350px)] w-[1900px] h-[153px];
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1729492471511"] {
    @apply z-5 top-[138px] left-[calc(50%-960px+-349px)] w-[1898px] h-[100px];
  }

  #rec815345943 .tn-elem[data-elem-id="1729492471511"] .tn-atom {
    @apply bg-white bg-center border-transparent border-solid;
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1729492471511"] {
      @apply top-[186px] left-[calc(50%-600px+-349px)] w-[1898px] h-[153px];
    }
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1729492471511"] {
      @apply top-[138px] left-[calc(50%-600px+-349px)] w-[1898px] h-[100px];
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1475147675390"] {
    @apply text-[#525252] z-[6] top-[94px] left-[calc(50%-960px+1180px)] w-[160px];
  }

  #rec815345943 .tn-elem[data-elem-id="1475147675390"] .tn-atom {
    @apply text-[#525252] text-[16px] font-[Arial] leading-[1.55] font-[700] tracking-[1px] bg-center border-transparent border-solid;
  }

  @screen max-1679 {
    #rec815345943 .tn-elem[data-elem-id="1475147675390"] {
      @apply left-[calc(50%-700px+919px)];
    }
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1475147675390"] {
      @apply top-[94px] left-[calc(50%-600px+820px)] w-[160px];
    }
  }

  @screen max-1199 {
    #rec815345943 .tn-elem[data-elem-id="1475147675390"] {
      @apply top-[74px] left-[calc(50%-480px+651px)] w-[140px];
    }

    #rec815345943 .tn-elem[data-elem-id="1475147675390"] .tn-atom {
      @apply text-[14px];
    }
  }

  @screen max-959 {
    #rec815345943 .tn-elem[data-elem-id="1475147675390"] {
      @apply top-[60px] left-[calc(50%-320px+61px)] w-[220px] text-center;
    }

    #rec815345943 .tn-elem[data-elem-id="1475147675390"] .tn-atom {
      @apply text-[24px];
    }
  }

  @screen max-639 {
    #rec815345943 .tn-elem[data-elem-id="1475147675390"] {
      @apply top-[179px] left-[calc(50%-240px+11px)];
    }
  }

  @screen max-479 {
    #rec815345943 .tn-elem[data-elem-id="1475147675390"] {
      @apply top-[157px] left-[calc(50%-160px+-42px)] w-[405px] text-center;
    }

    #rec815345943 .tn-elem[data-elem-id="1475147675390"] .tn-atom {
      @apply text-[18px];
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1475147678114"] {
    @apply text-[#000000] z-[7] top-[126px] left-[calc(50%-960px+1180px)] w-[160px];
  }

  #rec815345943 .tn-elem[data-elem-id="1475147678114"] .tn-atom {
    @apply text-[#000000] text-[14px] font-[Arial] font-[400] leading-[2] bg-center border-transparent border-solid;
  }

  @screen max-1679 {
    #rec815345943 .tn-elem[data-elem-id="1475147678114"] {
      @apply left-[calc(50%-700px+919px)];
    }
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1475147678114"] {
      @apply top-[126px] left-[calc(50%-600px+820px)] w-[160px];
    }
  }

  @screen max-1199 {
    #rec815345943 .tn-elem[data-elem-id="1475147678114"] {
      @apply top-[104px] left-[calc(50%-480px+651px)] w-[140px];
    }

    #rec815345943 .tn-elem[data-elem-id="1475147678114"] .tn-atom {
      @apply text-[12px];
    }
  }

  @screen max-959 {
    #rec815345943 .tn-elem[data-elem-id="1475147678114"] {
      @apply top-[90px] left-[calc(50%-320px+61px)] w-[220px] text-center;
    }

    #rec815345943 .tn-elem[data-elem-id="1475147678114"] .tn-atom {
      @apply text-[24px];
    }
  }

  @screen max-639 {
    #rec815345943 .tn-elem[data-elem-id="1475147678114"] {
      @apply top-[208px] left-[calc(50%-240px+11px)];
    }
  }

  @screen max-479 {
    #rec815345943 .tn-elem[data-elem-id="1475147678114"] {
      @apply top-[178px] left-[calc(50%-160px+-42px)] w-[405px] text-center;
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1475148691530"] {
    z-index: 8;
    top: 95px;
    left: calc(50% - 960px + 380px);
    width: 120px;
  }

  #rec815345943 .tn-elem[data-elem-id="1475148691530"] .tn-atom {
    @apply bg-center border-transparent border-solid;
  }

  @screen max-1919 {
    #rec815345943 .tn-elem[data-elem-id="1475148691530"] {
      @apply top-[87px] left-[calc(50%-840px+199px)];
    }
  }

  @screen max-1679 {
    #rec815345943 .tn-elem[data-elem-id="1475148691530"] {
      @apply left-[calc(50%-700px+119px)];
    }
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1475148691530"] {
      @apply top-[87px] left-[calc(50%-600px+69px)] w-[120px];
    }
  }

  @screen max-1199 {
    #rec815345943 .tn-elem[data-elem-id="1475148691530"] {
      @apply top-[79px] left-[calc(50%-480px+70px)];
    }
  }

  @screen max-959 {
    #rec815345943 .tn-elem[data-elem-id="1475148691530"] {
      @apply top-[516px] left-[calc(50%-320px+230px)] w-[170px];
    }
  }

  @screen max-639 {
    #rec815345943 .tn-elem[data-elem-id="1475148691530"] {
      @apply top-[56px] left-[calc(50%-240px+18px)] w-[164px];
    }
  }

  @screen max-479 {
    #rec815345943 .tn-elem[data-elem-id="1475148691530"] {
      @apply top-[41px] left-[calc(50%-160px+78px)];
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1729507747535"] {
    @apply text-[#525252] z-[9] absolute top-[225px] left-[calc(50%-960px+380px)] w-[360px];
  }

  #rec815345943 .tn-elem[data-elem-id="1729507747535"] .tn-atom {
    @apply text-[#525252] text-[14px] font-["Arial"] leading-[2] font-semibold bg-center border-transparent border-solid;
  }

  @screen max-1919 {
    #rec815345943 .tn-elem[data-elem-id="1729507747535"] {
      @apply top-[217px] left-[calc(50%-840px+199px)];
    }
  }

  @screen max-1679 {
    #rec815345943 .tn-elem[data-elem-id="1729507747535"] {
      @apply left-[calc(50%-700px+119px)];
    }
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1729507747535"] {
      @apply top-[217px] left-[calc(50%-600px+69px)] w-[360px];
    }

    #rec815345943 .tn-elem[data-elem-id="1729507747535"] .tn-atom {
      @apply text-[14px];
    }
  }

  @screen max-1199 {
    #rec815345943 .tn-elem[data-elem-id="1729507747535"] {
      @apply top-[199px] left-[calc(50%-480px+70px)] w-[300px];
    }

    #rec815345943 .tn-elem[data-elem-id="1729507747535"] .tn-atom {
      @apply text-[12px];
    }
  }

  @screen max-959 {
    #rec815345943 .tn-elem[data-elem-id="1729507747535"] {
      @apply top-[382px] left-[calc(50%-320px+143px)] w-[355px];
    }

    #rec815345943 .tn-elem[data-elem-id="1729507747535"] .tn-atom {
      @apply text-[14px];
    }
  }

  @screen max-639 {
    #rec815345943 .tn-elem[data-elem-id="1729507747535"] {
      @apply top-[453px] left-[calc(50%-240px+10px)] w-[460px] text-center;
    }
  }

  @screen max-479 {
    #rec815345943 .tn-elem[data-elem-id="1729507747535"] {
      @apply top-[475px] left-[calc(50%-160px+10px)] w-[300px];
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1730112513295"] {
    @apply text-[#525252] z-[10] absolute top-[205px] left-[calc(50%-960px+380px)] w-[160px];
  }

  #rec815345943 .tn-elem[data-elem-id="1730112513295"] .tn-atom {
    @apply text-[#525252] text-[16px] font-["Arial"] leading-[1.55] font-bold tracking-[1px] bg-center border-transparent border-solid;
  }

  @screen max-1919 {
    #rec815345943 .tn-elem[data-elem-id="1730112513295"] {
      @apply top-[197px] left-[calc(50%-840px+199px)];
    }
  }

  @screen max-1679 {
    #rec815345943 .tn-elem[data-elem-id="1730112513295"] {
      @apply left-[calc(50%-700px+119px)];
    }
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1730112513295"] {
      @apply top-[197px] left-[calc(50%-600px+69px)] w-[160px];
    }

    #rec815345943 .tn-elem[data-elem-id="1730112513295"] .tn-atom {
      @apply text-[16px];
    }
  }

  @screen max-1199 {
    #rec815345943 .tn-elem[data-elem-id="1730112513295"] {
      @apply top-[186px] left-[calc(50%-480px+70px)] w-[140px];
    }

    #rec815345943 .tn-elem[data-elem-id="1730112513295"] .tn-atom {
      @apply text-[14px];
    }
  }

  @screen max-959 {
    #rec815345943 .tn-elem[data-elem-id="1730112513295"] {
      @apply top-[339px] left-[calc(50%-320px+210px)] w-[220px] text-center;
    }

    #rec815345943 .tn-elem[data-elem-id="1730112513295"] .tn-atom {
      @apply text-[24px];
    }
  }

  @screen max-639 {
    #rec815345943 .tn-elem[data-elem-id="1730112513295"] {
      @apply top-[429px] left-[calc(50%-240px+130px)];
    }
  }

  @screen max-479 {
    #rec815345943 .tn-elem[data-elem-id="1730112513295"] {
      @apply top-[447px] left-[calc(50%-160px+-42px)] w-[405px] text-center;
    }

    #rec815345943 .tn-elem[data-elem-id="1730112513295"] .tn-atom {
      @apply text-[18px];
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1475147757614"] {
    @apply text-[#525252] z-[11] absolute top-[94px] left-[calc(50%-960px+1381px)] w-[160px];
  }

  #rec815345943 .tn-elem[data-elem-id="1475147757614"] .tn-atom {
    @apply text-[#525252] text-[16px] font-["Arial"] leading-[1.55] font-bold tracking-[1px] bg-center border-transparent border-solid;
  }

  @screen max-1679 {
    #rec815345943 .tn-elem[data-elem-id="1475147757614"] {
      @apply left-[calc(50%-700px+1120px)];
    }
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1475147757614"] {
      @apply top-[94px] left-[calc(50%-600px+1021px)] w-[160px];
    }

    #rec815345943 .tn-elem[data-elem-id="1475147757614"] .tn-atom {
      @apply text-[16px];
    }
  }

  @screen max-1199 {
    #rec815345943 .tn-elem[data-elem-id="1475147757614"] {
      @apply top-[74px] left-[calc(50%-480px+810px)] w-[140px];
    }

    #rec815345943 .tn-elem[data-elem-id="1475147757614"] .tn-atom {
      @apply text-[14px];
    }
  }

  @screen max-959 {
    #rec815345943 .tn-elem[data-elem-id="1475147757614"] {
      @apply top-[60px] left-[calc(50%-320px+330px)] w-[220px] text-center;
    }

    #rec815345943 .tn-elem[data-elem-id="1475147757614"] .tn-atom {
      @apply text-[24px];
    }
  }

  @screen max-639 {
    #rec815345943 .tn-elem[data-elem-id="1475147757614"] {
      @apply top-[179px] left-[calc(50%-240px+250px)];
    }
  }

  @screen max-479 {
    #rec815345943 .tn-elem[data-elem-id="1475147757614"] {
      @apply top-[342px] left-[calc(50%-160px+-42px)] w-[405px] text-center;
    }

    #rec815345943 .tn-elem[data-elem-id="1475147757614"] .tn-atom {
      @apply text-[18px];
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1729507175485"] {
    @apply z-[12] absolute top-[138px] left-[calc(50%-960px+1380px)] w-[39px];
  }

  #rec815345943 .tn-elem[data-elem-id="1729507175485"] .tn-atom {
    @apply bg-center border-transparent border-solid;
  }

  @screen max-1679 {
    #rec815345943 .tn-elem[data-elem-id="1729507175485"] {
      @apply left-[calc(50%-700px+1119px)];
    }
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1729507175485"] {
      @apply top-[138px] left-[calc(50%-600px+1020px)] w-[39px];
    }
  }

  @screen max-1199 {
    #rec815345943 .tn-elem[data-elem-id="1729507175485"] {
      @apply top-[111px] left-[calc(50%-480px+810px)];
    }
  }

  @screen max-959 {
    #rec815345943 .tn-elem[data-elem-id="1729507175485"] {
      @apply top-[112px] left-[calc(50%-320px+381px)] w-[50px];
    }
  }

  @screen max-639 {
    #rec815345943 .tn-elem[data-elem-id="1729507175485"] {
      @apply top-[224px] left-[calc(50%-240px+306px)];
    }
  }

  @screen max-479 {
    #rec815345943 .tn-elem[data-elem-id="1729507175485"] {
      @apply top-[383px] left-[calc(50%-160px+110px)] w-[43px];
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1729507206509"] {
    @apply z-[13] absolute top-[139px] left-[calc(50%-960px+1430px)] w-[39px];
  }

  #rec815345943 .tn-elem[data-elem-id="1729507206509"] .tn-atom {
    @apply bg-center border-transparent border-solid;
  }

  @screen max-1679 {
    #rec815345943 .tn-elem[data-elem-id="1729507206509"] {
      @apply left-[calc(50%-700px+1169px)];
    }
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1729507206509"] {
      @apply top-[139px] left-[calc(50%-600px+1070px)] w-[39px];
    }
  }

  @screen max-1199 {
    #rec815345943 .tn-elem[data-elem-id="1729507206509"] {
      @apply top-[112px] left-[calc(50%-480px+860px)];
    }
  }

  @screen max-959 {
    #rec815345943 .tn-elem[data-elem-id="1729507206509"] {
      @apply top-[113px] left-[calc(50%-320px+440px)] w-[50px];
    }
  }

  @screen max-639 {
    #rec815345943 .tn-elem[data-elem-id="1729507206509"] {
      @apply top-[224px] left-[calc(50%-240px+367px)];
    }
  }

  @screen max-479 {
    #rec815345943 .tn-elem[data-elem-id="1729507206509"] {
      @apply top-[384px] left-[calc(50%-160px+166px)] w-[43px];
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1475147757614"] {
    @apply absolute z-[11] text-[#525252] top-[94px] left-[calc(50%-960px+1381px)] w-[160px];
  }

  #rec815345943 .tn-elem[data-elem-id="1475147757614"] .tn-atom {
    @apply text-[#525252] text-[16px] font-[700] font-[Arial] leading-[1.55] tracking-[1px] bg-center border-transparent border-solid;
  }

  @screen max-1679 {
    #rec815345943 .tn-elem[data-elem-id="1475147757614"] {
      @apply left-[calc(50%-700px+1120px)];
    }
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1475147757614"] {
      @apply top-[94px] left-[calc(50%-600px+1021px)] w-[160px];
    }

    #rec815345943 .tn-elem[data-elem-id="1475147757614"] .tn-atom {
      @apply text-[16px];
    }
  }

  @screen max-1199 {
    #rec815345943 .tn-elem[data-elem-id="1475147757614"] {
      @apply top-[74px] left-[calc(50%-480px+810px)] w-[140px];
    }

    #rec815345943 .tn-elem[data-elem-id="1475147757614"] .tn-atom {
      @apply text-[14px];
    }
  }

  @screen max-959 {
    #rec815345943 .tn-elem[data-elem-id="1475147757614"] {
      @apply top-[60px] left-[calc(50%-320px+330px)] w-[220px] text-center;
    }

    #rec815345943 .tn-elem[data-elem-id="1475147757614"] .tn-atom {
      @apply text-[24px];
    }
  }

  @screen max-639 {
    #rec815345943 .tn-elem[data-elem-id="1475147757614"] {
      @apply top-[179px] left-[calc(50%-240px+250px)];
    }
  }

  @screen max-479 {
    #rec815345943 .tn-elem[data-elem-id="1475147757614"] {
      @apply top-[342px] left-[calc(50%-160px-42px)] w-[405px] text-center;
    }

    #rec815345943 .tn-elem[data-elem-id="1475147757614"] .tn-atom {
      @apply text-[18px];
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1729507175485"] {
    @apply absolute z-[12] top-[138px] left-[calc(50%-960px+1380px)] w-[39px];
  }

  #rec815345943 .tn-elem[data-elem-id="1729507175485"] .tn-atom {
    @apply bg-center border-transparent border-solid;
  }

  @screen max-1679 {
    #rec815345943 .tn-elem[data-elem-id="1729507175485"] {
      @apply left-[calc(50%-700px+1119px)];
    }
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1729507175485"] {
      @apply top-[138px] left-[calc(50%-600px+1020px)] w-[39px];
    }
  }

  @screen max-1199 {
    #rec815345943 .tn-elem[data-elem-id="1729507175485"] {
      @apply top-[111px] left-[calc(50%-480px+810px)];
    }
  }

  @screen max-959 {
    #rec815345943 .tn-elem[data-elem-id="1729507175485"] {
      @apply top-[112px] left-[calc(50%-320px+381px)] w-[50px];
    }
  }

  @screen max-639 {
    #rec815345943 .tn-elem[data-elem-id="1729507175485"] {
      @apply top-[224px] left-[calc(50%-240px+306px)];
    }
  }

  @screen max-479 {
    #rec815345943 .tn-elem[data-elem-id="1729507175485"] {
      @apply top-[383px] left-[calc(50%-160px+110px)] w-[43px];
    }
  }

  #rec815345943 .tn-elem[data-elem-id="1729507206509"] {
    @apply absolute z-[13] top-[139px] left-[calc(50%-960px+1430px)] w-[39px];
  }

  #rec815345943 .tn-elem[data-elem-id="1729507206509"] .tn-atom {
    @apply bg-center border-transparent border-solid;
  }

  @screen max-1679 {
    #rec815345943 .tn-elem[data-elem-id="1729507206509"] {
      @apply left-[calc(50%-700px+1169px)];
    }
  }

  @screen max-1399 {
    #rec815345943 .tn-elem[data-elem-id="1729507206509"] {
      @apply top-[139px] left-[calc(50%-600px+1070px)] w-[39px];
    }
  }

  @screen max-1199 {
    #rec815345943 .tn-elem[data-elem-id="1729507206509"] {
      @apply top-[112px] left-[calc(50%-480px+860px)];
    }
  }

  @screen max-959 {
    #rec815345943 .tn-elem[data-elem-id="1729507206509"] {
      @apply top-[113px] left-[calc(50%-320px+440px)] w-[50px];
    }
  }

  @screen max-639 {
    #rec815345943 .tn-elem[data-elem-id="1729507206509"] {
      @apply top-[224px] left-[calc(50%-240px+367px)];
    }
  }

  @screen max-479 {
    #rec815345943 .tn-elem[data-elem-id="1729507206509"] {
      @apply top-[384px] left-[calc(50%-160px+166px)] w-[43px];
    }
  }

  #rec817107025 .t396__artboard {
    @apply h-[900px];
  }

  #rec817107025 .t396__filter {
    @apply h-[900px];
  }

  #rec817107025 .t396__carrier {
    @apply h-[900px] bg-center bg-scroll bg-cover bg-no-repeat;
  }

  @screen max-1919 {
    #rec817107025 .t396__artboard,
    #rec817107025 .t396__filter,
    #rec817107025 .t396__carrier {
      @apply h-[800px];
    }

    #rec817107025 .t396__carrier {
      @apply bg-scroll;
    }
  }

  @screen max-1679 {
    #rec817107025 .t396__artboard,
    #rec817107025 .t396__filter,
    #rec817107025 .t396__carrier {
      @apply h-[680px];
    }

    #rec817107025 .t396__carrier {
      @apply bg-scroll;
    }
  }

  @screen max-1399 {
    #rec817107025 .t396__artboard,
    #rec817107025 .t396__filter,
    #rec817107025 .t396__carrier {
      @apply h-[600px];
    }

    #rec817107025 .t396__carrier {
      @apply bg-scroll;
    }
  }

  @screen max-1199 {
    #rec817107025 .t396__carrier {
      @apply bg-scroll;
    }
  }

  @screen max-959 {
    #rec817107025 .t396__carrier {
      @apply bg-scroll;
    }
  }

  @screen max-639 {
    #rec817107025 .t396__carrier {
      @apply bg-scroll;
    }
  }

  @screen max-479 {
    #rec817107025 .t396__artboard,
    #rec817107025 .t396__filter,
    #rec817107025 .t396__carrier {
      @apply h-[560px];
    }

    #rec817107025 .t396__carrier {
      @apply bg-scroll;
    }
  }

  #rec817107025 .tn-elem[data-elem-id="1729840288845"] {
    @apply z-[2] absolute top-[400px] left-[calc(50%-960px+0px)] w-[1200px] h-[132px];
  }

  #rec817107025 .tn-elem[data-elem-id="1729840288845"] .tn-atom {
    @apply bg-[#dcf0ff] bg-center border-transparent border-solid;
  }

  @screen max-1399 {
    #rec817107025 .tn-elem[data-elem-id="1729840288845"] {
      @apply top-[400px] left-[calc(50%-600px+0px)] w-[1200px] h-[132px];
    }
  }

  #rec817107025 .tn-elem[data-elem-id="1729851023437"] {
    @apply z-[3] absolute top-[67px] left-[calc(50%-960px+625px)] w-[34%] h-[85%];
  }

  #rec817107025 .tn-elem[data-elem-id="1729851023437"] .tn-atom {
    @apply border-[2px] rounded-[35px] bg-white border-[#0179ff] border-solid;
  }

  @screen max-1919 {
    #rec817107025 .tn-elem[data-elem-id="1729851023437"] {
      @apply top-[45px] left-[calc(50%-840px+504px)] w-[40%] h-[90%];
    }
  }

  @screen max-1679 {
    #rec817107025 .tn-elem[data-elem-id="1729851023437"] {
      @apply top-[34px] left-[calc(50%-700px+420px)] w-[40%] h-[90%];
    }
  }

  @screen max-1399 {
    #rec817107025 .tn-elem[data-elem-id="1729851023437"] {
      @apply top-[30px] left-[calc(50%-600px+390px)] w-[35%] h-[90%];
    }
  }

  @screen max-1199 {
    #rec817107025 .tn-elem[data-elem-id="1729851023437"] {
      @apply left-[calc(50%-480px+312px)];
    }
  }

  @screen max-959 {
    #rec817107025 .tn-elem[data-elem-id="1729851023437"] {
      @apply left-[calc(50%-320px+152px)] w-[52%];
    }
  }

  @screen max-639 {
    #rec817107025 .tn-elem[data-elem-id="1729851023437"] {
      @apply left-[calc(50%-240px+0px)] w-full;
    }
  }

  @screen max-479 {
    #rec817107025 .tn-elem[data-elem-id="1729851023437"] {
      @apply top-0 left-[calc(50%-160px+0px)] w-full h-full;
    }
  }

  #rec817107025 .tn-elem[data-elem-id="1729850964976"] {
    @apply absolute z-4 top-[118px] left-[calc(50%-960px+658px)] w-[604px];
  }

  #rec817107025 .tn-elem[data-elem-id="1729850964976"] .tn-atom {
    @apply bg-center border-transparent border-solid;
  }

  @screen max-1919 {
    #rec817107025 .tn-elem[data-elem-id="1729850964976"] {
      @apply top-[61px] left-[calc(50%-840px+538px)];
    }
  }

  @screen max-1679 {
    #rec817107025 .tn-elem[data-elem-id="1729850964976"] {
      @apply top-[48px] left-[calc(50%-700px+480px)] w-[440px];
    }
  }

  @screen max-1399 {
    #rec817107025 .tn-elem[data-elem-id="1729850964976"] {
      @apply top-[45px] left-[calc(50%-600px+410px)] w-[380px];
    }
  }

  @screen max-1199 {
    #rec817107025 .tn-elem[data-elem-id="1729850964976"] {
      @apply left-[calc(50%-480px+330px)] w-[300px];
    }
  }

  @screen max-959 {
    #rec817107025 .tn-elem[data-elem-id="1729850964976"] {
      @apply left-[calc(50%-320px+170px)];
    }
  }

  @screen max-639 {
    #rec817107025 .tn-elem[data-elem-id="1729850964976"] {
      @apply top-[39px] left-[calc(50%-240px+112px)] w-[254px];
    }
  }

  @screen max-479 {
    #rec817107025 .tn-elem[data-elem-id="1729850964976"] {
      @apply top-[52px] left-[calc(50%-160px+35px)] w-[250px];
    }
  }

  #rec817107025 .tn-elem[data-elem-id="1729838171889"] {
    @apply z-[5] absolute top-[553px] left-[calc(50%-960px+680px)] w-[559px];
  }

  #rec817107025 .tn-elem[data-elem-id="1729838171889"] .tn-atom {
    @apply text-black text-[20px] font-[400] font-[Manrope] leading-[1.55] bg-center border-none;
  }

  @screen max-1919 {
    #rec817107025 .tn-elem[data-elem-id="1729838171889"] {
      @apply top-[517px] left-[calc(50%-840px+560px)];
    }
  }

  @screen max-1679 {
    #rec817107025 .tn-elem[data-elem-id="1729838171889"] {
      @apply top-[403px] left-[calc(50%-700px+449px)] w-[506px];
    }
  }

  @screen max-1399 {
    #rec817107025 .tn-elem[data-elem-id="1729838171889"] {
      @apply top-[312px] left-[calc(50%-600px+428px)] w-[362px];
    }

    #rec817107025 .tn-elem[data-elem-id="1729838171889"] .tn-atom {
      @apply text-[16px];
    }
  }

  @screen max-1199 {
    #rec817107025 .tn-elem[data-elem-id="1729838171889"] {
      @apply top-[276px] left-[calc(50%-480px+333px)] w-[282px];
    }

    #rec817107025 .tn-elem[data-elem-id="1729838171889"] .tn-atom {
      @apply text-[14px];
    }
  }

  @screen max-959 {
    #rec817107025 .tn-elem[data-elem-id="1729838171889"] {
      @apply top-[275px] left-[calc(50%-320px+185px)];
    }
  }

  @screen max-639 {
    #rec817107025 .tn-elem[data-elem-id="1729838171889"] {
      @apply top-[279px] left-[calc(50%-240px+26px)] w-[428px];
    }
  }

  @screen max-479 {
    #rec817107025 .tn-elem[data-elem-id="1729838171889"] {
      @apply top-[247px] left-[calc(50%-160px+21px)] w-[279px];
    }

    #rec817107025 .tn-elem[data-elem-id="1729838171889"] .tn-atom {
      @apply text-[14px];
    }
  }

  #rec817107025 .tn-elem[data-elem-id="1729840438784"] {
    @apply z-[6] absolute top-[506px] left-[calc(50%-960px+680px)] w-[559px];
  }

  #rec817107025 .tn-elem[data-elem-id="1729840438784"] .tn-atom {
    @apply text-black text-[34px] font-[800] font-[Manrope] leading-[1.55] bg-center border-none;
  }

  @screen max-1919 {
    #rec817107025 .tn-elem[data-elem-id="1729840438784"] {
      @apply top-[470px] left-[calc(50%-840px+560px)];
    }
  }

  @screen max-1679 {
    #rec817107025 .tn-elem[data-elem-id="1729840438784"] {
      @apply top-[353px] left-[calc(50%-700px+448px)] w-[521px];
    }
  }

  @screen max-1399 {
    #rec817107025 .tn-elem[data-elem-id="1729840438784"] {
      @apply top-[265px] left-[calc(50%-600px+428px)] w-[362px];
    }

    #rec817107025 .tn-elem[data-elem-id="1729840438784"] .tn-atom {
      @apply text-[30px];
    }
  }

  @screen max-1199 {
    #rec817107025 .tn-elem[data-elem-id="1729840438784"] {
      @apply top-[229px] left-[calc(50%-480px+333px)] w-[318px];
    }
  }

  @screen max-959 {
    #rec817107025 .tn-elem[data-elem-id="1729840438784"] {
      @apply top-[228px] left-[calc(50%-320px+185px)];
    }
  }

  @screen max-639 {
    #rec817107025 .tn-elem[data-elem-id="1729840438784"] {
      @apply top-[232px] left-[calc(50%-240px+26px)] w-[428px];
    }
  }

  @screen max-479 {
    #rec817107025 .tn-elem[data-elem-id="1729840438784"] {
      @apply top-[219px] left-[calc(50%-160px+0px)] w-[320px] text-center;
    }

    #rec817107025 .tn-elem[data-elem-id="1729840438784"] .tn-atom {
      @apply text-[18px];
    }
  }

  #rec817107025 .tn-elem[data-elem-id="1729833775429"] {
    @apply z-[7] absolute top-[677px] left-[calc(50%-960px+630px)] w-[640px] h-[100px];
  }

  #rec817107025 .tn-elem[data-elem-id="1729833775429"] .tn-atom {
    @apply bg-white rounded-[25px] bg-center border-none;
  }

  @screen max-1919 {
    #rec817107025 .tn-elem[data-elem-id="1729833775429"] {
      @apply top-[639px] left-[calc(50%-840px+515px)] w-[649px];
    }
  }

  @screen max-1679 {
    #rec817107025 .tn-elem[data-elem-id="1729833775429"] {
      @apply top-[524px] left-[calc(50%-700px+444px)] w-[512px];
    }
  }

  @screen max-1399 {
    #rec817107025 .tn-elem[data-elem-id="1729833775429"] {
      @apply top-[388px] left-[calc(50%-600px+399px)] w-[400px] h-[100px];
    }
  }

  @screen max-1199 {
    #rec817107025 .tn-elem[data-elem-id="1729833775429"] {
      @apply left-[calc(50%-480px+398px)] w-[202px];
    }
  }

  @screen max-959 {
    #rec817107025 .tn-elem[data-elem-id="1729833775429"] {
      @apply left-[calc(50%-320px+208px)];
    }
  }

  @screen max-639 {
    #rec817107025 .tn-elem[data-elem-id="1729833775429"] {
      @apply top-[432px] left-[calc(50%-240px+5px)] w-[470px];
    }
  }

  @screen max-479 {
    #rec817107025 .tn-elem[data-elem-id="1729833775429"] {
      @apply top-[318px] left-[calc(50%-160px+5px)] w-[273px] h-[47px];
    }
  }

  #rec817107025 .tn-elem[data-elem-id="1729831292956"] {
    @apply z-[8] top-[690px] left-[calc(50%-960px+655px)] w-[591px];
  }

  #rec817107025 .tn-elem[data-elem-id="1729831292956"] .tn-atom {
    @apply bg-center border-transparent border-solid;
  }

  @screen max-1919 {
    #rec817107025 .tn-elem[data-elem-id="1729831292956"] {
      @apply top-[652px] left-[calc(50%-840px+540px)] w-[600px];
    }
  }

  @screen max-1679 {
    #rec817107025 .tn-elem[data-elem-id="1729831292956"] {
      @apply top-[537px] left-[calc(50%-700px+464px)] w-[473px];
    }
  }

  @screen max-1399 {
    #rec817107025 .tn-elem[data-elem-id="1729831292956"] {
      @apply top-[388px] left-[calc(50%-600px+492px)] w-[215px];
    }
  }

  @screen max-1199 {
    #rec817107025 .tn-elem[data-elem-id="1729831292956"] {
      @apply top-[358px] left-[calc(50%-480px+373px)];
    }
  }

  @screen max-959 {
    #rec817107025 .tn-elem[data-elem-id="1729831292956"] {
      @apply top-[368px] left-[calc(50%-320px+213px)];
    }
  }

  @screen max-639 {
    #rec817107025 .tn-elem[data-elem-id="1729831292956"] {
      @apply top-[356px] left-[calc(50%-240px+23px)] w-[434px];
    }
  }

  @screen max-479 {
    #rec817107025 .tn-elem[data-elem-id="1729831292956"] {
      @apply top-[335px] left-[calc(50%-160px+43px)] w-[235px];
    }
  }

  #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
    @apply z-[9] absolute top-[81px] left-[calc(50%-960px+1217px)] w-[45px] h-[45px];
  }

  #rec817107025 .tn-elem[data-elem-id="1730021618470"] .tn-atom {
    @apply rounded-full bg-white bg-center border-transparent border-solid;
  }

  @screen max-1919 {
    #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
      @apply top-[66px] left-[calc(50%-840px+1111px)];
    }
  }

  @screen max-1679 {
    #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
      @apply top-[51px] left-[calc(50%-700px+919px)];
    }
  }

  @screen max-1399 {
    #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
      @apply top-[45px] left-[calc(50%-600px+758px)] w-[37px] h-[37px];
    }
  }

  @screen max-1199 {
    #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
      @apply left-[calc(50%-480px+596px)];
    }
  }

  @screen max-959 {
    #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
      @apply left-[calc(50%-320px+440px)];
    }
  }

  @screen max-639 {
    #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
      @apply top-[47px] left-[calc(50%-240px+433px)];
    }
  }

  @screen max-479 {
    #rec817107025 .tn-elem[data-elem-id="1730021618470"] {
      @apply top-[15px] left-[calc(50%-160px+271px)];
    }
  }

  #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
    @apply z-[10] top-[91px] left-[calc(50%-960px+1227px)] w-[25px];
  }

  #rec817107025 .tn-elem[data-elem-id="1729866601144"] .tn-atom {
    @apply bg-center border-transparent border-solid;
  }

  #rec817107025 .tn-elem[data-elem-id="1729866601144"] .tn-atom__vector svg {
    @apply block;
  }

  @screen max-1919 {
    #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
      @apply top-[76px] left-[calc(50%-840px+1121px)];
    }
  }

  @screen max-1679 {
    #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
      @apply top-[61px] left-[calc(50%-700px+929px)];
    }
  }

  @screen max-1399 {
    #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
      @apply top-[53px] left-[calc(50%-600px+766px)] w-[20px];
    }
  }

  @screen max-1199 {
    #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
      @apply left-[calc(50%-480px+604px)];
    }
  }

  @screen max-959 {
    #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
      @apply left-[calc(50%-320px+448px)];
    }
  }

  @screen max-639 {
    #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
      @apply top-[55px] left-[calc(50%-240px+441px)];
    }
  }

  @screen max-479 {
    #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
      @apply top-[25px] left-[calc(50%-160px+281px)];
    }
  }

  #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
    @apply z-[10] top-[91px] left-[calc(50%-960px+1227px)] w-[25px];
  }

  #rec817107025 .tn-elem[data-elem-id="1729866601144"] .tn-atom {
    @apply bg-center border-transparent border-solid;
  }

  #rec817107025 .tn-elem[data-elem-id="1729866601144"] .tn-atom__vector svg {
    @apply block;
  }

  @screen max-1919 {
    #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
      @apply top-[76px] left-[calc(50%-840px+1121px)];
    }
  }

  @screen max-1679 {
    #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
      @apply top-[61px] left-[calc(50%-700px+929px)];
    }
  }

  @screen max-1399 {
    #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
      @apply top-[53px] left-[calc(50%-600px+766px)] w-[20px];
    }
  }

  @screen max-1199 {
    #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
      @apply left-[calc(50%-480px+604px)];
    }
  }

  @screen max-959 {
    #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
      @apply left-[calc(50%-320px+448px)];
    }
  }

  @screen max-639 {
    #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
      @apply top-[55px] left-[calc(50%-240px+441px)];
    }
  }

  @screen max-479 {
    #rec817107025 .tn-elem[data-elem-id="1729866601144"] {
      @apply top-[25px] left-[calc(50%-160px+281px)];
    }
  }

  #rec817107025[data-record-type="396"] {
    @apply hidden;
  }

  .t1093 .t-popup #rec817107025[data-record-type="396"] {
    @apply block;
  }

  #rec817107119 .t1093 .t-popup__bg {
    @apply backdrop-blur-[8px];
  }

  #rec817107119 .t1093 .t-popup {
    @apply z-[10000];
  }

  #rec817107119 .t1093 .t-popup + .t-popup__bg {
    @apply z-[9999];
  }

  #rec817107119
    .t1093
    .t-popup.t-popup-anim-appearfrombottom
    .t-popup__container {
    @apply transition-all ease-in-out;
  }
}
