@tailwind utilities;

@layer utilities {
  .appearance-textfield {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  [data-tilda-mode="edit"] .t-input-title {
    @apply mb-0;
  }

  .t-submit {
    @apply appearance-none bg-transparent border-0 box-border cursor-pointer text-base font-bold h-[60px] m-0 outline-none px-[60px] text-center whitespace-nowrap;
  }

  .t-submit_sending {
    @apply opacity-50;
  }

  @screen sm {
    .t-submit {
      @apply px-[30px] whitespace-normal;
    }
  }

  .t-form__inputsbox.t-form__inputsbox_flex {
    @apply flex items-start flex-wrap;
  }

  .t-form__inputsbox.t-form__inputsbox_flex.t-form__inputsbox_inrow {
    @apply gap-[15px];
  }

  .t-form__inputsbox.t-form__inputsbox_flex .t-form__screen-wrapper_active {
    @apply flex items-start flex-wrap w-full !important;
  }

  .t-form__inputsbox_inrow.t-form__inputsbox.t-form__inputsbox_flex
    .t-form__screen-wrapper_active {
    @apply gap-[15px];
  }

  .t-form__inputsbox_flex .t-input-group_tx {
    @apply self-center;
  }

  .t-input {
    @apply appearance-none border-0 box-border text-base h-[60px] leading-[1.33] m-0 outline-none px-[20px] w-full;
  }

  .t-input::-moz-focus-inner {
    @apply border-0 p-0;
  }

  .t-input_bbonly {
    @apply bg-transparent border-b border-l-0 border-r-0 border-t-0 outline-none pl-0 pr-0 !important;
  }

  .t-input_pvis {
    @apply pt-[26px] pb-[10px] px-[20px];
  }

  .tn-atom__form .t-input_pvis {
    @apply pt-[26px] pb-[10px] px-[20px] !important;
  }

  .t-input__vis-ph {
    @apply text-base h-[17px] left-[20px] leading-none opacity-50 overflow-hidden pointer-events-none absolute top-[22px] transform-gpu transition-all duration-[200ms] whitespace-nowrap w-[calc(100%-40px)];
  }

  .t-input:focus ~ .t-input__vis-ph,
  .t-input_has-content + .t-input__vis-ph {
    @apply text-overflow-ellipsis transform translate-y-[-100%] scale-[0.7] w-auto;
  }

  .t-input:invalid {
    @apply shadow-none;
  }

  fieldset.t-input-group {
    @apply border-0 m-0 p-0;
  }

  .t-input-group_cb div[data-customstyle="yes"] {
    @apply inline align-middle;
  }

  .t-form_bbonly .t-input__vis-ph {
    @apply left-0 !important;
  }

  .t-form_bbonly .js-error-control-box .t-input__vis-ph {
    @apply left-[10px] !important;
  }

  .t-input-group_ta textarea.t-input {
    @apply resize-y;
  }

  .t-form__inputsbox_flex .t-input-group:not(.t-input-group_inonerow) {
    @apply w-full;
  }

  .t-input-group_inonerow:not(.t-input-group_inrow-last) {
    @apply mr-[15px];
  }

  .t-input-group_inonerow:not(.t-input-group_inrow-last):not(
      .t-input-group_inrow
    ) {
    @apply mr-0;
  }

  .t-input-group_inonerow.t-input-group_width100:not(
      .t-input-group_inrow-withsibling
    ) {
    @apply mr-0 w-full;
  }

  .t-form__inputsbox_inrow .t-input-group_width25.t-input-group_inonerow {
    @apply w-[calc(25%-11.25px)];
  }

  .t-form__inputsbox_inrow .t-input-group_width33.t-input-group_inonerow {
    @apply w-[calc(33.33333%-10px)];
  }

  .t-form__inputsbox_inrow .t-input-group_width50.t-input-group_inonerow {
    @apply w-[calc(50%-7.5px)];
  }

  .t-form__inputsbox_inrow .t-input-group_width100.t-input-group_inonerow {
    @apply w-full;
  }

  .t-form__inputsbox_inrow .t-input-group_inonerow,
  .t-form__inputsbox_inrow .t-input-group_inonerow.t-input-group_width100 {
    @apply mr-0;
  }

  .t-form__inputsbox_inrow
    .t-input-group_width25:not(.t-input-group_inonerow)
    .t-input-block,
  .t-form__inputsbox_inrow
    .t-input-group_width25:not(.t-input-group_inonerow)
    .t-input-title {
    @apply w-[calc(25%-11.25px)];
  }

  .t-form__inputsbox_inrow
    .t-input-group_width33:not(.t-input-group_inonerow)
    .t-input-block,
  .t-form__inputsbox_inrow
    .t-input-group_width33:not(.t-input-group_inonerow)
    .t-input-title {
    @apply w-[calc(33.33333%-10px)];
  }

  .t-form__inputsbox_inrow
    .t-input-group_width50:not(.t-input-group_inonerow)
    .t-input-block,
  .t-form__inputsbox_inrow
    .t-input-group_width50:not(.t-input-group_inonerow)
    .t-input-title {
    @apply w-[calc(50%-7.5px)];
  }

  .t-form__inputsbox_inrow
    .t-input-group_inonerow:not(.t-input-group_width100):not(
      .t-input-group_width50
    ):not(.t-input-group_width33):not(.t-input-group_width25),
  .t-form__inputsbox_inrow
    .t-input-group_width100:not(.t-input-group_inonerow)
    .t-input-block,
  .t-form__inputsbox_inrow
    .t-input-group_width100:not(.t-input-group_inonerow)
    .t-input-title {
    @apply w-full;
  }

  .t-form__inputsbox_inrow
    .t-input-group_widthdef.t-input-group_inonerow
    .t-datepicker__wrapper,
  .t-form__inputsbox_inrow
    .t-input-group_widthdef.t-input-group_inonerow
    .t-inputtime {
    @apply max-w-full;
  }

  .t-form__inputsbox_inrow .t-input-group_width25 .t-datepicker__icon {
    @apply hidden;
  }

  .t-select {
    @apply appearance-none bg-transparent border-0 rounded-none box-border cursor-pointer text-initial text-base h-[60px] leading-[1.33] outline-none pl-[20px] pr-[45px] w-full;
  }

  .t-select_bbonly {
    @apply bg-transparent border-l-0 rounded-none border-r-0 border-t-0 outline-none pl-0 pr-0 !important;
  }

  .t-select_bbonly option {
    @apply bg-white text-black;
  }

  #allrecords .t-select.t-focusable {
    @apply outline-[#2015ff] outline-auto outline-4;
  }

  .t-select__wrapper {
    @apply relative;
  }

  .t-select__wrapper:after {
    @apply absolute right-[20px] top-0 bottom-0 mx-auto border-[5px] border-t-transparent border-x-transparent border-b-[#000] pointer-events-none content-[""];
  }

  .t-select::-ms-expand {
    @apply h-0 opacity-0 w-0;
  }

  .t-select__wrapper_bbonly:after {
    @apply right-0 !important;
  }

  .t-radio__wrapper {
    @apply mt-[5px];
  }

  .t-input-block_rd-flex .t-checkboxes__wrapper,
  .t-input-block_rd-flex .t-checkboxes__wrapper fieldset,
  .t-input-block_rd-flex .t-radio__wrapper,
  .t-input-block_rd-flex .t-radio__wrapper fieldset {
    @apply flex flex-wrap justify-start gap-[15px];
  }

  .t-input-block_rd-flex .t-checkboxes__wrapper fieldset,
  .t-input-block_rd-flex .t-radio__wrapper fieldset {
    @apply w-full;
  }

  .t-input-block_rd-flex.t-input-block_rd-width25 .t-checkboxes__wrapper,
  .t-input-block_rd-flex.t-input-block_rd-width25
    .t-checkboxes__wrapper
    fieldset,
  .t-input-block_rd-flex.t-input-block_rd-width25 .t-radio__wrapper,
  .t-input-block_rd-flex.t-input-block_rd-width25 .t-radio__wrapper fieldset,
  .t-input-block_rd-flex.t-input-block_rd-width33 .t-checkboxes__wrapper,
  .t-input-block_rd-flex.t-input-block_rd-width33
    .t-checkboxes__wrapper
    fieldset,
  .t-input-block_rd-flex.t-input-block_rd-width33 .t-radio__wrapper,
  .t-input-block_rd-flex.t-input-block_rd-width33 .t-radio__wrapper fieldset,
  .t-input-block_rd-flex.t-input-block_rd-width50 .t-checkboxes__wrapper,
  .t-input-block_rd-flex.t-input-block_rd-width50
    .t-checkboxes__wrapper
    fieldset,
  .t-input-block_rd-flex.t-input-block_rd-width50 .t-radio__wrapper,
  .t-input-block_rd-flex.t-input-block_rd-width50 .t-radio__wrapper fieldset {
    @apply justify-start;
  }

  .t-input-block.t-input-block_rd-flex:not(.t-input-block_rd-width50):not(
      .t-input-block_rd-width33
    ):not(.t-input-block_rd-width25)
    .t-checkboxes__wrapper,
  .t-input-block.t-input-block_rd-flex:not(.t-input-block_rd-width50):not(
      .t-input-block_rd-width33
    ):not(.t-input-block_rd-width25)
    .t-radio__wrapper {
    @apply gap-[25px];
  }

  .t-input-block_rd-flex.t-input-block_rd-width25 .t-checkboxes__item,
  .t-input-block_rd-flex.t-input-block_rd-width25 .t-radio__control,
  .t-input-block_rd-flex.t-input-block_rd-width25 .t-radio__ownvariant-wrapper,
  .tn-atom__form
    .t-input-block_rd-flex.t-input-block_rd-width25
    .t-checkbox__control {
    @apply w-[calc(25%-11.25px)];
  }

  .t-input-block_rd-flex.t-input-block_rd-width33 .t-checkboxes__item,
  .t-input-block_rd-flex.t-input-block_rd-width33 .t-radio__control,
  .t-input-block_rd-flex.t-input-block_rd-width33 .t-radio__ownvariant-wrapper,
  .tn-atom__form
    .t-input-block_rd-flex.t-input-block_rd-width33
    .t-checkbox__control {
    @apply w-[calc(33.33333%-10px)];
  }

  .t-input-block_rd-flex.t-input-block_rd-width50 .t-checkboxes__item,
  .t-input-block_rd-flex.t-input-block_rd-width50 .t-radio__control,
  .t-input-block_rd-flex.t-input-block_rd-width50 .t-radio__ownvariant-wrapper,
  .tn-atom__form
    .t-input-block_rd-flex.t-input-block_rd-width50
    .t-checkbox__control {
    @apply w-[calc(50%-7.5px)];
  }

  .t-checkbox__control {
    @apply cursor-pointer relative block;
  }

  .t-checkbox__control.t-checkbox__control_flex {
    @apply flex items-center;
  }

  .t-checkbox__control .t-checkbox {
    @apply opacity-0 absolute z-[-1];
  }

  .t-checkbox__indicator {
    @apply inline-block w-[20px] h-[20px] mr-[10px] border-2 border-black box-border opacity-[0.6] relative transition-all duration-200 align-middle;
  }

  .t-checkbox__indicator,
  .t-radio__indicator {
    @apply flex-shrink-0;
  }

  .t-checkbox__indicator:after {
    @apply absolute left-[6px] top-[2px] w-[3px] h-[8px] border-solid border-x-transparent border-b-[2px] border-t-[0] border-[#000] rotate-45 content-[""] hidden;
  }

  .t-checkbox__control .t-checkbox:checked ~ .t-checkbox__indicator {
    @apply opacity-100;
  }

  .t-checkbox__control .t-checkbox:checked ~ .t-checkbox__indicator:after {
    @apply block;
  }

  .t-checkbox__labeltext,
  .t-checkbox__labeltext div {
    @apply inline;
  }

  #allrecords ul.t-checkboxes__wrapper {
    @apply list-none pl-0 mb-0;
  }

  .t-checkboxes__wrapper .t-checkbox__control,
  .t-checkboxes__wrapper .t-ownvariant-wrapper_flex {
    @apply my-[10px];
  }

  .t-radio {
    @apply opacity-0 absolute z-[-1];
  }

  .t-radio__control {
    @apply cursor-pointer table relative mb-[10px];
  }

  .t-checkbox__control.t-text_xs,
  .t-radio__control.t-text_xs {
    @apply leading-tight;
  }

  .t-input-block:not(.t-input-block_rd-flex) .t-radio__control {
    @apply w-full;
  }

  .t-input-block .t-ownvariant-wrapper_flex .t-radio__control,
  .tn-atom .t-input__own-answer-wrapper .t-radio__control {
    @apply w-auto;
  }

  .t-input-block .t-ownvariant-wrapper_flex .t-radio__control {
    @apply flex items-center;
  }

  .t-radio__control:first-child {
    @apply mt-[3px] mb-[10px];
  }

  .t-radio__control:last-child {
    @apply mb-0;
  }

  .t-input-block_rd-flex .t-radio__control,
  .t-input-block_rd-flex .t-radio__control:first-child,
  .t-input-block_rd-flex .t-radio__control:last-child {
    @apply mb-[10px];
  }

  .t-radio__indicator {
    @apply inline-block w-[20px] h-[20px] mr-[10px] border-[2px] border-black rounded-full box-border opacity-[0.6] relative transition-all duration-200 align-middle;
  }

  .t-radio__indicator:after {
    @apply absolute top-0 bottom-0 left-0 right-0 m-auto w-[10px] h-[10px] bg-black rounded-full opacity-0 transition-all duration-200;
    content: "";
  }

  .t-radio__control .t-radio:checked ~ .t-radio__indicator,
  .t-radio__control .t-radio:checked ~ .t-radio__indicator:after {
    @apply opacity-100;
  }

  .t-input-block_rd-flex .t-checkbox__control,
  .t-input-block_rd-flex .t-radio__control {
    @apply box-border;
  }

  .t-rate__wrapper_numbers {
    @apply flex flex-wrap;
  }

  .t-rate__wrapper_icons {
    @apply inline-block;
  }

  .t-rate__wrapper .t-rate__control:first-child,
  .t-rate__wrapper [type="radio"] {
    @apply m-0 p-0;
  }

  .t-rate__text-wrapper {
    @apply flex justify-between mt-[11px] w-full;
  }

  .t-rate__text {
    @apply w-[50%] leading-[1.2];
  }

  .t-rate__wrapper_icons-3 .t-rate__text {
    @apply w-[80px];
  }

  .t-rate__text_start {
    @apply text-left;
  }

  .t-rate__text_end {
    @apply text-right;
  }

  .t-rate__control {
    @apply cursor-pointer mb-0;
  }

  .t-rate__wrapper_numbers .t-rate__control {
    @apply flex-1 h-[40px];
  }

  .t-rate__wrapper_numbers .t-rate__control .t-rate__indicator {
    @apply flex items-center justify-center box-border font-medium h-full w-full relative transition-all duration-200;
  }

  .t-rate__wrapper_numbers .t-rate__control .t-rate__indicator:after {
    @apply absolute top-0 bottom-0 left-0 right-0 m-auto w-[10px] h-[10px] bg-black rounded-full opacity-0 transition-all duration-200;
    content: "";
  }

  .t-rate__wrapper_numbers .t-rate:checked + .t-rate__indicator {
    @apply bg-[rgba(0,0,0,0.1)];
  }

  .t-rate__wrapper_numbers .t-rate__indicator {
    @apply bg-transparent border-[1px] border-black;
  }

  .t-rate__wrapper_numbers
    .t-rate__control
    + .t-rate__control
    .t-rate__indicator {
    @apply border-l-0 !important;
  }

  .t-rate__wrapper_numbers .t-rate__control:hover .t-rate__indicator {
    @apply bg-[rgba(0,0,0,0.1)];
  }

  .t-rate__wrapper_numbers .t-rate__text-wrapper {
    @apply flex justify-between mt-[6px] w-full;
  }

  .t-rate__icons {
    @apply flex flex-nowrap text-[0];
  }

  .t-rate__icons
    .t-rate:checked
    ~ .t-rate__control
    > .t-rate__indicator
    svg
    path,
  .t-rate__icons .t-rate__control .t-rate__indicator svg path,
  .t-rate__icons:hover
    > .t-rate__control:hover
    ~ .t-rate
    ~ .t-rate__control
    > .t-rate__indicator
    svg
    path {
    @apply opacity-30;
  }

  .t-rate__icons:hover
    > .t-rate
    + .t-rate__control
    > .t-rate__indicator
    svg
    path,
  .t-rate__icons
    > .t-rate:checked
    + .t-rate__control
    > .t-rate__indicator
    svg
    path,
  .t-rate__icons
    > .t-rate
    ~ .t-rate__control:hover
    > .t-rate__indicator
    svg
    path,
  .t-rate__wrapper_active
    .t-rate__icons
    .t-rate__control
    .t-rate__indicator
    svg
    path {
    @apply opacity-100;
  }

  .t-rate__wrapper_icons .t-rate__control {
    @apply pr-[18px];
  }

  .t-rate__wrapper_icons .t-rate__control:last-of-type {
    @apply pr-0;
  }

  .t-rate__wrapper_icons .t-rate__indicator {
    @apply max-w-[40px];
  }

  .t-rate__wrapper_icons .t-rate__indicator svg {
    @apply h-auto w-full;
  }

  .t-rate {
    @apply opacity-0 absolute z-[-1];
  }

  .t-step-form__step {
    @apply hidden;
  }

  .t-step-form__step_active {
    @apply block !important;
  }

  .t-step-form__step_fadeInUp {
    @apply animate-[fade-in_0.7s_,_move-up_0.7s];
  }

  .t-step-form__step_fadeOutDown {
    @apply animate-[fade-out_0.4s_,_move-down_0.4s] pointer-events-none;
  }

  .t-step-form__step_fadeIn {
    @apply animate-[fade-in_0.7s];
  }

  .t-step-form__step_fadeOut {
    @apply animate-[fade-out_0.4s] pointer-events-none;
  }

  @keyframes fade-in {
    0% {
      display: block;
      opacity: 0;
    }
    to {
      display: block;
      opacity: 1;
    }
  }

  .fade-in {
    animation: fade-in 0.7s forwards;
  }

  @keyframes fade-out {
    0% {
      display: block;
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .fade-out {
    animation: fade-out 0.4s forwards;
  }

  @keyframes move-up {
    0% {
      -webkit-transform: translateY(15px);
      transform: translateY(15px);
    }
    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  .move-up {
    animation: move-up 0.7s forwards;
  }

  @keyframes move-down {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }

  .move-down {
    animation: move-down 0.4s forwards;
  }

  @screen lg {
    .focus-visible-radio:focus-visible + .t-radio__indicator,
    .focus-visible-checkbox:focus-visible + .t-checkbox__indicator {
      box-shadow: 0 0 0 3px #0096ff;
    }
  }

  @screen max-640 {
    .t-rate__icons {
      @apply justify-between;
    }

    .t-rate__wrapper_icons .t-rate__control {
      @apply pr-2.5; /* 10px */
    }

    .t-rate__wrapper_icons-3 .t-rate__text {
      @apply w-1/2; /* 50% */
    }
  }

  .t-inputquantity__wrapper {
    @apply flex items-center;
  }

  .t-inputquantity {
    @apply mx-2 text-center w-[70px];
  }

  .t-inputquantity__btn {
    @apply bg-transparent border-0 cursor-pointer text-2xl py-0 px-2 select-none;
  }

  .t-form__inputsbox_inrow .t-input-group_width100 .t-inputquantity,
  .t-form__inputsbox_inrow .t-input-group_width25 .t-inputquantity,
  .t-form__inputsbox_inrow .t-input-group_width33 .t-inputquantity,
  .t-form__inputsbox_inrow .t-input-group_width50 .t-inputquantity {
    @apply text-left w-full !important;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }

  input[type="number"] {
    @apply appearance-textfield;
  }

  .t-range:focus-visible {
    @apply outline-[#2015ff] outline-2;
  }

  .t-form .uploadcare-widget-button {
    @apply bg-[#333] text-sm leading-6;
  }

  .t-form .uploadcare-widget-button:hover {
    @apply bg-[#444];
  }

  .t-form .uploadcare--widget__button {
    @apply cursor-pointer;
  }

  legend.t-input-title {
    @apply pl-0;
  }

  .t-input-title {
    @apply block h-full pr-2.5 align-middle;
  }

  .t-input-group_inonerow .t-input-title {
    @apply pr-0;
  }

  .t-input-subtitle {
    @apply block h-full pr-2.5 align-middle;
  }

  .t-form__bottom-text {
    @apply mt-8 text-center;
  }

  @screen max-479 {
    /* Группы и блоки с шириной 100% */
    .t-form__inputsbox_flex .t-input-group,
    .t-form__inputsbox_flex .t-input-group.t-input-group_inonerow,
    .t-form__inputsbox_inrow
      .t-input-group_width100:not(.t-input-group_inonerow)
      .t-input-block,
    .t-form__inputsbox_inrow
      .t-input-group_width100:not(.t-input-group_inonerow)
      .t-input-title,
    .t-form__inputsbox_inrow
      .t-input-group_width25:not(.t-input-group_inonerow)
      .t-input-block,
    .t-form__inputsbox_inrow
      .t-input-group_width25:not(.t-input-group_inonerow)
      .t-input-title,
    .t-form__inputsbox_inrow
      .t-input-group_width33:not(.t-input-group_inonerow)
      .t-input-block,
    .t-form__inputsbox_inrow
      .t-input-group_width33:not(.t-input-group_inonerow)
      .t-input-title,
    .t-form__inputsbox_inrow
      .t-input-group_width50:not(.t-input-group_inonerow)
      .t-input-block,
    .t-form__inputsbox_inrow
      .t-input-group_width50:not(.t-input-group_inonerow)
      .t-input-title {
      @apply w-full;
    }

    /* Убираем margin-right для .t-input-group_inonerow */
    .t-input-group_inonerow:not(.t-input-group_inrow-last) {
      @apply mr-0;
    }

    /* Заголовок в группе */
    .t-input-group_inonerow .t-input-title {
      @apply pr-2.5;
    }

    /* Выравнивание элементов внутри flex */
    .t-input-block_rd-flex.t-input-block_rd-width25 .t-checkboxes__wrapper,
    .t-input-block_rd-flex.t-input-block_rd-width25 .t-radio__wrapper,
    .t-input-block_rd-flex.t-input-block_rd-width33 .t-checkboxes__wrapper,
    .t-input-block_rd-flex.t-input-block_rd-width33 .t-radio__wrapper,
    .t-input-block_rd-flex.t-input-block_rd-width50 .t-checkboxes__wrapper,
    .t-input-block_rd-flex.t-input-block_rd-width50 .t-radio__wrapper {
      @apply justify-start;
    }

    /* Ширина для чекбоксов и радиокнопок */
    .t-input-block_rd-flex.t-input-block_rd-width25 .t-checkboxes__item,
    .t-input-block_rd-flex.t-input-block_rd-width25 .t-radio__control,
    .t-input-block_rd-flex.t-input-block_rd-width25
      .t-radio__ownvariant-wrapper,
    .t-input-block_rd-flex.t-input-block_rd-width33 .t-checkboxes__item,
    .t-input-block_rd-flex.t-input-block_rd-width33 .t-radio__control,
    .t-input-block_rd-flex.t-input-block_rd-width33
      .t-radio__ownvariant-wrapper,
    .t-input-block_rd-flex.t-input-block_rd-width50 .t-checkboxes__item,
    .t-input-block_rd-flex.t-input-block_rd-width50 .t-radio__control,
    .t-input-block_rd-flex.t-input-block_rd-width50
      .t-radio__ownvariant-wrapper,
    .tn-atom__form
      .t-input-block_rd-flex.t-input-block_rd-width25
      .t-checkbox__control,
    .tn-atom__form
      .t-input-block_rd-flex.t-input-block_rd-width33
      .t-checkbox__control,
    .tn-atom__form
      .t-input-block_rd-flex.t-input-block_rd-width50
      .t-checkbox__control {
      @apply w-full;
    }

    /* Половина ширины для блоков */
    .t-input-block_rd-flex.t-input-block_rd-width25.t-input-block_rd-mobile-half
      .t-checkboxes__item,
    .t-input-block_rd-flex.t-input-block_rd-width25.t-input-block_rd-mobile-half
      .t-radio__control,
    .t-input-block_rd-flex.t-input-block_rd-width25.t-input-block_rd-mobile-half
      .t-radio__ownvariant-wrapper,
    .t-input-block_rd-flex.t-input-block_rd-width33.t-input-block_rd-mobile-half
      .t-checkboxes__item,
    .t-input-block_rd-flex.t-input-block_rd-width33.t-input-block_rd-mobile-half
      .t-radio__control,
    .t-input-block_rd-flex.t-input-block_rd-width33.t-input-block_rd-mobile-half
      .t-radio__ownvariant-wrapper,
    .t-input-block_rd-flex.t-input-block_rd-width50.t-input-block_rd-mobile-half
      .t-checkboxes__item,
    .t-input-block_rd-flex.t-input-block_rd-width50.t-input-block_rd-mobile-half
      .t-radio__control,
    .t-input-block_rd-flex.t-input-block_rd-width50.t-input-block_rd-mobile-half
      .t-radio__ownvariant-wrapper,
    .tn-atom__form
      .t-input-block_rd-flex.t-input-block_rd-width25.t-input-block_rd-mobile-half
      .t-checkbox__control,
    .tn-atom__form
      .t-input-block_rd-flex.t-input-block_rd-width33.t-input-block_rd-mobile-half
      .t-checkbox__control,
    .tn-atom__form
      .t-input-block_rd-flex.t-input-block_rd-width50.t-input-block_rd-mobile-half
      .t-checkbox__control {
      @apply w-[calc(50%-7.5px)];
    }

    /* Все остальные элементы с width: 100% */
    .t-input-block.t-input-block_rd-flex:not(.t-input-block_rd-width50):not(
        .t-input-block_rd-width33
      ):not(.t-input-block_rd-width25)
      .t-checkboxes__item,
    .t-input-block.t-input-block_rd-flex:not(.t-input-block_rd-width50):not(
        .t-input-block_rd-width33
      ):not(.t-input-block_rd-width25)
      .t-radio__control,
    .t-input-block.t-input-block_rd-flex:not(.t-input-block_rd-width50):not(
        .t-input-block_rd-width33
      ):not(.t-input-block_rd-width25)
      .t-radio__ownvariant-wrapper,
    .t-input-block_rd-flex.t-input-block_rd-width25.t-input-block_rd-mobile-half
      .t-radio__ownvariant-wrapper
      .t-radio__control,
    .t-input-block_rd-flex.t-input-block_rd-width33.t-input-block_rd-mobile-half
      .t-radio__ownvariant-wrapper
      .t-radio__control,
    .t-input-block_rd-flex.t-input-block_rd-width50.t-input-block_rd-mobile-half
      .t-radio__ownvariant-wrapper
      .t-radio__control,
    .tn-atom__form
      .t-input-block.t-input-block_rd-flex:not(.t-input-block_rd-width50):not(
        .t-input-block_rd-width33
      ):not(.t-input-block_rd-width25)
      .t-checkbox__control {
      @apply w-full;
    }

    /* Для quantity с фиксированной шириной */
    .t-form__inputsbox_inrow .t-input-group_width100 .t-inputquantity,
    .t-form__inputsbox_inrow .t-input-group_width25 .t-inputquantity,
    .t-form__inputsbox_inrow .t-input-group_width33 .t-inputquantity,
    .t-form__inputsbox_inrow .t-input-group_width50 .t-inputquantity {
      @apply text-center w-[70px] !important;
    }

    /* Ширина для чекбоксов и радиокнопок с авто-шириной */
    .tn-atom
      .t-input-block_rd-flex
      .t-input__own-answer-wrapper
      .t-checkbox__control,
    .tn-atom
      .t-input-block_rd-flex
      .t-input__own-answer-wrapper
      .t-radio__control {
      @apply w-auto !important;
    }
  }

  .t-checkboxes__ownvariant-wrapper .t-input-block,
  .t-radio__ownvariant-wrapper .t-input-block {
    @apply relative;
  }

  .t-ownvariant-wrapper_flex {
    @apply flex items-start gap-2 w-full;
  }

  .t-ownvariant-wrapper_flex .t-checkbox__control,
  .t-ownvariant-wrapper_flex .t-radio__control {
    @apply flex-shrink-0 m-0;
  }

  .t-ownvariant-wrapper_flex .t-input-ownanswer {
    @apply border-b border-black box-border w-full h-5 pb-0.5 hidden;
    line-height: 1;
  }

  .t-input-ownanswer + .t-input__vis-ph {
    display: none;
  }

  .t-input-ownanswer.t-input-ownanswer_active + .t-input__vis-ph {
    display: block;
  }

  .t-input-error {
    @apply text-red-500 text-sm mt-1 hidden;
  }

  .t-form .js-error-control-box .t-input-error {
    @apply block;
  }

  .t-form .js-error-control-box .t-checkbox__control,
  .t-form .js-error-control-box .t-checkboxes__wrapper,
  .t-form
    .js-error-control-box
    .t-input:not(.t-input-phonemask):not(.t-input-ownanswer):not(
      .t-input__own-answer
    ),
  .t-form .js-error-control-box .t-radio__wrapper,
  .t-form .js-error-control-box .t-rate__wrapper,
  .t-form .js-error-control-box .t-select,
  .t-form .js-error-control-box .uploadcare-widget {
    @apply border border-red-500 !important;
  }

  #allrecords .t-form .js-error-control-box .t-checkboxes__wrapper,
  .t-form .js-error-control-box .t-checkbox__control,
  .t-form .js-error-control-box .t-checkboxes__wrapper,
  .t-form .js-error-control-box .t-radio__wrapper,
  .t-form .js-error-control-box .t-rate__wrapper {
    @apply p-2;
  }

  .t-form .js-error-control-box .t-checkboxes__wrapper .t-checkbox__control {
    @apply border-0 p-0 !important;
  }

  .t-form .js-error-control-box .t-input.t-input_bbonly {
    @apply pl-2 !important;
  }

  .t-form__errorbox-bottom {
    @apply hidden;
  }

  .t-form__errorbox-wrapper {
    @apply bg-red-500 mb-5 p-2 text-center;
  }

  .t-form__errorbox-text {
    @apply box-border text-white list-none px-2 pb-2;
  }

  #allrecords .t-form__errorbox-text .t-form__errorbox-link {
    @apply text-white;
  }

  #allrecords ul.t-form__errorbox-text {
    @apply list-none pl-2 mb-0;
  }

  #allrecords .t-form__errorbox-text a.t-form__errorbox-item {
    @apply text-white;
  }

  .t-form__errorbox-item {
    @apply hidden mt-2;
  }

  .t-form__errorbox-middle {
    @apply w-full;
  }

  #allrecords .t-form__errorbox-item .t-form__errorbox-link,
  #allrecords .t-form__errorbox-item .t-form__errorbox-link:hover {
    @apply border-0 shadow-none;
  }

  .t-form__successbox {
    @apply bg-[#62c584] text-white mb-5 p-5 text-center;
  }

  .t-form option {
    @apply text-black;
  }

  @keyframes t-submit-spinner {
    to {
      transform: rotate(1turn);
    }
  }

  @-webkit-keyframes t-submit-spinner {
    to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
    }
  }

  .t-form__inputsbox_flex .t-form__submit,
  .t-form__inputsbox_flex .tn-form__submit {
    @apply w-full;
  }

  .t-form .t-submit {
    @apply relative;
  }

  .t-btn.t-btn_sending,
  .t-form .t-submit.t-btn_sending:not(.tn-form__submit-gradient) {
    @apply text-transparent !important;
  }

  .t-btn.t-btn_sending:not(.tn-form__submit-gradient):before,
  .t-form .t-btn_sending:not(.tn-form__submit-gradient):before {
    @apply animate-[t-submit-spinner_0.6s_linear_infinite] border-2 border-solid border-[#ccc] border-t-[#333] rounded-full box-border content-[""] w-7 h-7 absolute left-1/2 top-1/2 -ml-3 -mt-3;
  }

  .tn-elem .tn-form__submit .t-submit.tn-form__submit-gradient {
    @apply overflow-hidden relative z-10;
  }

  .tn-elem .tn-form__submit .t-submit.tn-form__submit-gradient:before,
  .tn-elem .tn-form__submit .t-submit.tn-form__submit-gradient:after {
    @apply box-border content-[""] absolute top-0 left-0 w-full h-full pointer-events-none;
    transition: opacity 0.2s ease-in-out;
  }

  .tn-elem .tn-form__submit .t-submit.tn-form__submit-gradient:before {
    @apply bg-transparent opacity-100 z-[-2];
  }

  .tn-elem .tn-form__submit .t-submit.tn-form__submit-gradient:after {
    @apply opacity-0 z-[-1];
  }

  .tn-elem .tn-form__submit .t-submit.tn-form__submit-gradient:hover:after {
    @apply opacity-100;
  }

  .tn-atom .t-input__own-answer-wrapper {
    @apply flex items-end gap-2 mb-2;
  }

  .tn-atom .t-input__own-answer-wrapper.t-input__own-answer-wrapper-checkbox {
    @apply mt-2;
  }

  .t-input-block_rd-flex .t-input__own-answer-wrapper {
    @apply w-full;
  }

  .tn-atom .t-input-block_rd-flex .t-input__own-answer-wrapper {
    @apply w-auto;
  }

  .tn-atom .t-input__own-answer-wrapper .t-checkbox__control,
  .tn-atom .t-input__own-answer-wrapper .t-radio__control {
    @apply flex items-center justify-center flex-shrink-0 m-0 pb-1;
  }

  .tn-atom .t-input__own-answer {
    @apply border-b border-black box-border hidden h-5 pb-1;
  }

  .tn-atom .t-input__own-answer--active {
    @apply block;
  }

  .t-checkboxes__wrapper_button .t-checkboxes__item,
  .t-radio__wrapper_button .t-radio__item {
    @apply flex items-center justify-center border border-black box-border h-16 px-4;
  }

  .t-input-group_rd .t-checkbox__control,
  .t-input-group_rd .t-radio__item {
    @apply flex items-center gap-2 w-full;
  }

  .t-input-group_rd .t-checkbox__control .t-checkbox__indicator,
  .t-input-group_rd .t-radio__item .t-radio__indicator {
    @apply mr-0;
  }

  .t-input-group_rd .t-checkbox__control {
    @apply h-full w-full;
  }

  .t-input-group_rd .t-input-block_rd-flex .t-checkbox__control,
  .t-input-group_rd .t-input__own-answer-wrapper .t-checkbox__control {
    @apply h-auto w-auto;
  }

  .t-checkboxes__wrapper_button
    .t-ownvariant-wrapper_flex
    .t-t-checkbox__control,
  .t-radio__wrapper_button .t-ownvariant-wrapper_flex .t-radio__control {
    @apply m-0;
  }

  .t-checkboxes__wrapper_button .t-ownvariant-wrapper_flex .t-input-ownanswer,
  .t-radio__wrapper_button .t-ownvariant-wrapper_flex .t-input-ownanswer {
    @apply border-none;
  }

  .t-ownvariant-wrapper_flex.t-checkboxes__ownvariant_withlabel,
  .t-ownvariant-wrapper_flex.t-radio__ownvariant_withlabel {
    @apply gap-0;
  }

  .t-ownvariant-wrapper_flex.t-checkboxes__ownvariant_withlabel
    .t-checkbox__control,
  .t-ownvariant-wrapper_flex.t-radio__ownvariant_withlabel .t-radio__control {
    @apply flex items-center gap-2 w-full;
  }

  .t-checkboxes__ownvariant_withlabel .t-checkbox__ownvariant-input-wrapper,
  .t-radio__ownvariant_withlabel .t-radio__ownvariant-input-wrapper {
    @apply flex items-center gap-2 w-full;
  }

  .t-checkboxes__ownvariant_withlabel .t-checkbox__title,
  .t-radio__ownvariant_withlabel .t-radio__title {
    @apply flex-shrink-0;
  }

  .t-checkboxes__wrapper_button .t-ownvariant-wrapper_flex .t-input-ownanswer,
  .t-radio__wrapper_button .t-ownvariant-wrapper_flex .t-input-ownanswer {
    @apply pb-0;
  }

  .t-input-ownanswer {
    @apply text-ellipsis;
  }

  .t-checkboxes__wrapper_button .t-checkboxes__item,
  .t-radio__wrapper_button .t-radio__item {
    @apply mb-4;
  }

  .t-checkboxes__wrapper_button .t-checkboxes__item:last-of-type,
  .t-radio__wrapper_button .t-radio__ownvariant-wrapper:last-of-type {
    @apply mb-0;
  }

  .t-input-block_rd-width25
    .t-ownvariant-wrapper_flex.t-checkboxes__ownvariant_withlabel
    .t-checkbox__ownvariant-input-wrapper,
  .t-input-block_rd-width25
    .t-ownvariant-wrapper_flex.t-radio__ownvariant_withlabel
    .t-radio__ownvariant-input-wrapper,
  .t-input-block_rd-width33
    .t-ownvariant-wrapper_flex.t-checkboxes__ownvariant_withlabel
    .t-checkbox__ownvariant-input-wrapper,
  .t-input-block_rd-width33
    .t-ownvariant-wrapper_flex.t-radio__ownvariant_withlabel
    .t-radio__ownvariant-input-wrapper {
    @apply flex-wrap;
  }

  .t-input-block_rd-width25
    .t-ownvariant-wrapper_flex.t-checkboxes__ownvariant_withlabel
    .t-checkbox__title,
  .t-input-block_rd-width25
    .t-ownvariant-wrapper_flex.t-radio__ownvariant_withlabel
    .t-radio__title,
  .t-input-block_rd-width33
    .t-ownvariant-wrapper_flex.t-checkboxes__ownvariant_withlabel
    .t-checkbox__title,
  .t-input-block_rd-width33
    .t-ownvariant-wrapper_flex.t-radio__ownvariant_withlabel
    .t-radio__title {
    @apply flex-shrink-1;
  }

  [data-hidden-by-condition="true"] {
    @apply hidden !important;
  }

  @media screen and (max-width: 479px) {
    .t-input-block_rd-width25
      .t-ownvariant-wrapper_flex.t-checkboxes__ownvariant_withlabel
      .t-checkbox__ownvariant-input-wrapper,
    .t-input-block_rd-width25
      .t-ownvariant-wrapper_flex.t-radio__ownvariant_withlabel
      .t-radio__ownvariant-input-wrapper,
    .t-input-block_rd-width33
      .t-ownvariant-wrapper_flex.t-checkboxes__ownvariant_withlabel
      .t-checkbox__ownvariant-input-wrapper,
    .t-input-block_rd-width33
      .t-ownvariant-wrapper_flex.t-radio__ownvariant_withlabel
      .t-radio__ownvariant-input-wrapper {
      @apply flex-nowrap;
    }

    .t-input-block_rd-width25
      .t-ownvariant-wrapper_flex.t-checkboxes__ownvariant_withlabel
      .t-checkbox__title,
    .t-input-block_rd-width25
      .t-ownvariant-wrapper_flex.t-radio__ownvariant_withlabel
      .t-radio__title,
    .t-input-block_rd-width33
      .t-ownvariant-wrapper_flex.t-checkboxes__ownvariant_withlabel
      .t-checkbox__title,
    .t-input-block_rd-width33
      .t-ownvariant-wrapper_flex.t-radio__ownvariant_withlabel
      .t-radio__title {
      @apply flex-shrink-0;
    }
  }
}
