@tailwind components;

@layer components {
    #rec815323087 .t396__artboard {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        transform: translateY(-100%);
        transition: transform 0.15s;
        z-index: 990;
    }

    #rec815323087 .t396__artboard {
        height: 105px;
        overflow: visible;
    }

    #rec815323087 .t396__filter {
        height: 105px;
    }

    #rec815323087 .t396__carrier {
        height: 105px;
        background-position: center center;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media screen and (max-width: 1919px) {
        #rec815323087 .t396__carrier {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815323087 .t396__carrier {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 1399px) {

        #rec815323087 .t396__artboard,
        #rec815323087 .t396__filter,
        #rec815323087 .t396__carrier {
            height: 135px;
        }

        #rec815323087 .t396__carrier {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 1199px) {
        #rec815323087 .t396__carrier {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 959px) {

        #rec815323087 .t396__artboard,
        #rec815323087 .t396__filter,
        #rec815323087 .t396__carrier {
            height: 254px;
        }



        #rec815323087 .t396__carrier {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 639px) {

        #rec815323087 .t396__carrier {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 479px) {

        #rec815323087 .t396__artboard,
        #rec815323087 .t396__filter,
        #rec815323087 .t396__carrier {
            height: 254px;
        }

        #rec815323087 .t396__carrier {
            background-attachment: scroll;
        }
    }

    #rec815323087 .tn-elem[data-elem-id="1682335500868"] {
        z-index: 2;
        top: -43px;
        left: calc(50% - 960px + 10px);
        width: 1900px;
        height: 145px;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        border-radius: 25px;
    }

    #rec815323087 .tn-elem[data-elem-id="1682335500868"] .tn-atom {
        border-width: 1px;
        border-radius: 25px;
        opacity: 0.85;
        background-color: #ffffff;
        background-position: center center;
        background-attachment: scroll;
        border-color: #0179ff;
        border-style: solid;
        box-shadow: 0px 8px 12px 0px rgba(33, 26, 161, 0.1);
    }

    @media screen and (max-width: 1919px) {
        #rec815323087 .tn-elem[data-elem-id="1682335500868"] {
            left: calc(50% - 840px + 9px);
            width: 99%;
        }

        #rec815323087 .tn-elem[data-elem-id="1682335500868"] .tn-atom {
            background-position: center center;
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815323087 .tn-elem[data-elem-id="1682335500868"] {
            left: calc(50% - 700px + -7px);
            width: 101%;
        }

        #rec815323087 .tn-elem[data-elem-id="1682335500868"] .tn-atom {
            background-position: center center;
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815323087 .tn-elem[data-elem-id="1682335500868"] {
            top: -27px;
            left: calc(50% - 600px + 0px);
            width: 100px;
            height: 145px;
        }
    }

    @media screen and (max-width: 1199px) {
        #rec815323087 .tn-elem[data-elem-id="1682335500868"] {
            left: calc(50% - 480px + 10px);
            width: 940px;
        }

        #rec815323087 .tn-elem[data-elem-id="1682335500868"] .tn-atom {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 959px) {
        #rec815323087 .tn-elem[data-elem-id="1682335500868"] {
            top: 0px;
            left: calc(50% - 320px + 0px);
            width: 100%;
            height: 254px;
            border-radius: 0px;
        }

        #rec815323087 .tn-elem[data-elem-id="1682335500868"] .tn-atom {
            border-radius: 0px;
        }
    }

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {
        #rec815323087 .tn-elem[data-elem-id="1682335500868"] {
            top: 0px;
            left: calc(50% - 160px + 0px);
        }


    }

    #rec815323087 .tn-elem[data-elem-id="1681820298248"] {
        color: #000000;
        z-index: 3;
        top: 42px;
        left: calc(50% - 960px + 88px);
        width: 130px;
    }

    #rec815323087 .tn-elem[data-elem-id="1681820298248"] .tn-atom {
        color: #000000;
        font-size: 46px;
        font-family: "Arial", Arial, sans-serif;
        line-height: 1.15;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 1919px) {
        #rec815323087 .tn-elem[data-elem-id="1681820298248"] {
            top: 50px;
            left: calc(50% - 840px + 63px);
        }
    }

    @media screen and (max-width: 1679px) {}

    @media screen and (max-width: 1399px) {
        #rec815323087 .tn-elem[data-elem-id="1681820298248"] {
            top: 53px;
            left: calc(50% - 600px + 41px);
            width: 223px;
        }

        #rec815323087 .tn-elem[data-elem-id="1681820298248"] .tn-atom {
            font-size: 26px;
        }
    }

    @media screen and (max-width: 1199px) {
        #rec815323087 .tn-elem[data-elem-id="1681820298248"] {
            top: 23px;
            left: calc(50% - 480px + 30px);
        }
    }

    @media screen and (max-width: 959px) {
        #rec815323087 .tn-elem[data-elem-id="1681820298248"] {
            top: 40px;
            left: calc(50% - 320px + 0px);
        }

        #rec815323087 .tn-elem[data-elem-id="1681820298248"] {
            text-align: center;
        }
    }

    @media screen and (max-width: 639px) {
        #rec815323087 .tn-elem[data-elem-id="1681820298248"] {
            top: 40px;
            left: calc(50% - 240px + 0px);
        }
    }

    @media screen and (max-width: 479px) {
        #rec815323087 .tn-elem[data-elem-id="1681820298248"] {
            top: 40px;
            left: calc(50% - 160px + 0px);
        }
    }

    #rec815323087 .tn-elem[data-elem-id="1729504294018"] {
        color: #000000;
        text-align: center;
        z-index: 4;
        top: 37px;
        left: calc(50% - 960px + 640px);
        width: 81px;
        height: 30px;
    }

    #rec815323087 .tn-elem[data-elem-id="1729504294018"] .tn-atom {
        color: #000000;
        font-size: 18px;
        font-family: "Manrope", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        border-width: 0px;
        border-radius: 0px;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        transition: background-color 0.2s ease-in-out,
            color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    @media (hover),
    (min-width: 0\0) {

        #rec815323087 .tn-elem[data-elem-id="1729504294018"] .tn-atom:hover {
            color: #0179ff;
        }
    }

    @media screen and (max-width: 1919px) {
        #rec815323087 .tn-elem[data-elem-id="1729504294018"] {
            top: 37px;
            left: calc(50% - 840px + 550px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815323087 .tn-elem[data-elem-id="1729504294018"] {
            top: 37px;
            left: calc(50% - 700px + 454px);
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815323087 .tn-elem[data-elem-id="1729504294018"] {
            top: 52px;
            left: calc(50% - 600px + 304px);
            width: 81px;
            height: 30px;
        }

        #rec815323087 .tn-elem[data-elem-id="1729504294018"] .tn-atom {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 1199px) {}

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815323087 .tn-elem[data-elem-id="1729603500304"] {
        color: #000000;
        text-align: center;
        z-index: 5;
        top: 37px;
        left: calc(50% - 960px + 740px);
        width: 81px;
        height: 30px;
    }

    #rec815323087 .tn-elem[data-elem-id="1729603500304"] .tn-atom {
        color: #000000;
        font-size: 18px;
        font-family: "Manrope", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        border-width: 0px;
        border-radius: 0px;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        transition: background-color 0.2s ease-in-out,
            color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    @media (hover),
    (min-width: 0\0) {

        #rec815323087 .tn-elem[data-elem-id="1729603500304"] .tn-atom:hover {
            color: #0179ff;
        }
    }

    @media screen and (max-width: 1919px) {
        #rec815323087 .tn-elem[data-elem-id="1729603500304"] {
            top: 37px;
            left: calc(50% - 840px + 650px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815323087 .tn-elem[data-elem-id="1729603500304"] {
            top: 37px;
            left: calc(50% - 700px + 554px);
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815323087 .tn-elem[data-elem-id="1729603500304"] {
            top: 52px;
            left: calc(50% - 600px + 404px);
            width: 81px;
            height: 30px;
        }

        #rec815323087 .tn-elem[data-elem-id="1729603500304"] .tn-atom {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 1199px) {}

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815323087 .tn-elem[data-elem-id="1729504021575"] {
        z-index: 6;
        top: 73px;
        left: calc(50% - 960px + 955px);
        width: 50px;
        height: 2px;
    }

    #rec815323087 .tn-elem[data-elem-id="1729504021575"] .tn-atom {
        border-radius: 25px;
        background-color: #0179ff;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 1919px) {}

    @media screen and (max-width: 1679px) {}

    @media screen and (max-width: 1399px) {
        #rec815323087 .tn-elem[data-elem-id="1729504021575"] {
            top: 73px;
            left: calc(50% - 600px + 955px);
            width: 50px;
            height: 2px;
        }
    }

    @media screen and (max-width: 1199px) {}

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815323087 .tn-elem[data-elem-id="1729678394528"] {
        color: #000000;
        text-align: center;
        z-index: 7;
        top: 37px;
        left: calc(50% - 960px + 840px);
        width: 81px;
        height: 30px;
    }

    #rec815323087 .tn-elem[data-elem-id="1729678394528"] .tn-atom {
        color: #000000;
        font-size: 18px;
        font-family: "Manrope", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        border-width: 0px;
        border-radius: 0px;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        transition: background-color 0.2s ease-in-out,
            color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    @media (hover),
    (min-width: 0\0) {

        #rec815323087 .tn-elem[data-elem-id="1729678394528"] .tn-atom:hover {
            color: #0179ff;
        }
    }

    @media screen and (max-width: 1919px) {
        #rec815323087 .tn-elem[data-elem-id="1729678394528"] {
            top: 37px;
            left: calc(50% - 840px + 750px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815323087 .tn-elem[data-elem-id="1729678394528"] {
            top: 37px;
            left: calc(50% - 700px + 654px);
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815323087 .tn-elem[data-elem-id="1729678394528"] {
            top: 52px;
            left: calc(50% - 600px + 504px);
            width: 81px;
            height: 30px;
        }

        #rec815323087 .tn-elem[data-elem-id="1729678394528"] .tn-atom {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 1199px) {}

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815323087 .tn-elem[data-elem-id="1729839690340"] {
        color: #000000;
        text-align: center;
        z-index: 8;
        top: 17px;
        left: calc(50% - 960px + 1415px);
        width: 216px;
    }

    #rec815323087 .tn-elem[data-elem-id="1729839690340"] .tn-atom {
        color: #000000;
        font-size: 24px;
        font-family: "Manrope", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 1919px) {
        #rec815323087 .tn-elem[data-elem-id="1729839690340"] {
            top: 17px;
            left: calc(50% - 840px + 1210px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815323087 .tn-elem[data-elem-id="1729839690340"] {
            top: 17px;
            left: calc(50% - 700px + 921px);
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815323087 .tn-elem[data-elem-id="1729839690340"] {
            top: 32px;
            left: calc(50% - 600px + 739px);
            width: 216px;
        }

        #rec815323087 .tn-elem[data-elem-id="1729839690340"] .tn-atom {
            font-size: 24px;
        }
    }

    @media screen and (max-width: 1199px) {}

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815323087 .tn-elem[data-elem-id="1729839726876"] {
        color: #000000;
        text-align: center;
        z-index: 9;
        top: 51px;
        left: calc(50% - 960px + 1415px);
        width: 216px;
    }

    #rec815323087 .tn-elem[data-elem-id="1729839726876"] .tn-atom {
        color: #000000;
        font-size: 24px;
        font-family: "Manrope", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 1919px) {
        #rec815323087 .tn-elem[data-elem-id="1729839726876"] {
            top: 51px;
            left: calc(50% - 840px + 1210px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815323087 .tn-elem[data-elem-id="1729839726876"] {
            top: 51px;
            left: calc(50% - 700px + 921px);
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815323087 .tn-elem[data-elem-id="1729839726876"] {
            top: 66px;
            left: calc(50% - 600px + 739px);
            width: 216px;
        }

        #rec815323087 .tn-elem[data-elem-id="1729839726876"] .tn-atom {
            font-size: 24px;
        }
    }

    @media screen and (max-width: 1199px) {}

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815323087 .tn-elem[data-elem-id="1730093066084"] {
        color: #000000;
        text-align: center;
        z-index: 10;
        top: 38px;
        left: calc(50% - 960px + 947px);
        width: 81px;
        height: 30px;
    }

    #rec815323087 .tn-elem[data-elem-id="1730093066084"] .tn-atom {
        color: #000000;
        font-size: 18px;
        font-family: "Manrope", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        border-width: 0px;
        border-radius: 0px;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        transition: background-color 0.2s ease-in-out,
            color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    @media (hover),
    (min-width: 0\0) {

        #rec815323087 .tn-elem[data-elem-id="1730093066084"] .tn-atom:hover {
            color: #0179ff;
        }
    }

    @media screen and (max-width: 1919px) {
        #rec815323087 .tn-elem[data-elem-id="1730093066084"] {
            top: 38px;
            left: calc(50% - 840px + 857px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815323087 .tn-elem[data-elem-id="1730093066084"] {
            top: 38px;
            left: calc(50% - 700px + 761px);
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815323087 .tn-elem[data-elem-id="1730093066084"] {
            top: 53px;
            left: calc(50% - 600px + 611px);
            width: 81px;
            height: 30px;
        }

        #rec815323087 .tn-elem[data-elem-id="1730093066084"] .tn-atom {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 1199px) {}

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815323087 .tn-elem[data-elem-id="1730093116707"] {
        z-index: 11;
        top: 22px;
        left: calc(50% - 960px + 1660px);
        width: 203px;
    }

    #rec815323087 .tn-elem[data-elem-id="1730093116707"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    #rec815323087 .tn-elem[data-elem-id="1730093116707"] .tn-atom__vector svg {
        display: block;
    }

    @media screen and (max-width: 1919px) {
        #rec815323087 .tn-elem[data-elem-id="1730093116707"] {
            top: 22px;
            left: calc(50% - 840px + 1442px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815323087 .tn-elem[data-elem-id="1730093116707"] {
            top: 22px;
            left: calc(50% - 700px + 1166px);
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815323087 .tn-elem[data-elem-id="1730093116707"] {
            top: 37px;
            left: calc(50% - 600px + 965px);
            width: 203px;
        }
    }

    @media screen and (max-width: 1199px) {}

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815323087 .tn-elem[data-elem-id="1730529501866"] {
        z-index: 12;
        top: 10px;
        left: calc(50% - 960px + 80px);
        width: 294px;
    }

    #rec815323087 .tn-elem[data-elem-id="1730529501866"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    #rec815323087 .tn-elem[data-elem-id="1730529501866"] .tn-atom__vector svg {
        display: block;
    }

    @media screen and (max-width: 1919px) {
        #rec815323087 .tn-elem[data-elem-id="1730529501866"] {
            top: 7px;
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815323087 .tn-elem[data-elem-id="1730529501866"] {
            top: 38px;
            left: calc(50% - 600px + 41px);
            width: 205px;
        }
    }

    #rec815225856 .t396__artboard {
        position: absolute;
        width: 100%;
        z-index: 100;
    }

    #rec815225856 .t396__artboard {
        height: 205px;
    }

    #rec815225856 .t396__filter {
        height: 205px;
    }

    #rec815225856 .t396__carrier {
        height: 205px;
        background-position: center center;
        background-attachment: fixed;
        transform: translate3d(0, 0, 0);
        -moz-transform: unset;
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media screen and (min-width: 1199px) {
        #rec815225856 .t396__carrier-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
        }

        #rec815225856 .t396__carrier {
            position: fixed;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-size: cover;
            background-position: center center;
            transform: translateZ(0);
            will-change: transform;
            pointer-events: none;
        }
    }

    @media screen and (max-width: 1919px) {


        #rec815225856 .t396__carrier {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 1679px) {


        #rec815225856 .t396__carrier {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 1399px) {

        #rec815225856 .t396__artboard,
        #rec815225856 .t396__filter,
        #rec815225856 .t396__carrier {
            height: 185px;
        }



        #rec815225856 .t396__carrier {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 1199px) {



        #rec815225856 .t396__carrier {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 959px) {

        #rec815225856 .t396__artboard,
        #rec815225856 .t396__filter,
        #rec815225856 .t396__carrier {
            height: 254px;
        }



        #rec815225856 .t396__carrier {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 639px) {



        #rec815225856 .t396__carrier {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 479px) {

        #rec815225856 .t396__artboard,
        #rec815225856 .t396__filter,
        #rec815225856 .t396__carrier {
            height: 254px;
        }



        #rec815225856 .t396__carrier {
            background-attachment: scroll;
        }
    }

    #rec815225856 .tn-elem[data-elem-id="1682335500868"] {
        z-index: 2;
        top: 24px;
        left: calc(50% - 960px + 110px);
        width: 1700px;
        height: 150px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-radius: 25px;
    }

    #rec815225856 .tn-elem[data-elem-id="1682335500868"] .tn-atom {
        border-width: 1px;
        border-radius: 25px;
        background-color: #ffffff;
        background-position: center center;
        background-attachment: scroll;
        border-color: #0179ff;
        border-style: solid;
        box-shadow: 0px 8px 14px 0px rgba(33, 26, 161, 0.1);
    }

    @media screen and (max-width: 1919px) {
        #rec815225856 .tn-elem[data-elem-id="1682335500868"] {
            left: calc(50% - 840px + 84px);
            width: 90%;
        }

        #rec815225856 .tn-elem[data-elem-id="1682335500868"] .tn-atom {
            background-position: center center;
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815225856 .tn-elem[data-elem-id="1682335500868"] {
            left: calc(50% - 700px + 70px);
            width: 90%;
        }

        #rec815225856 .tn-elem[data-elem-id="1682335500868"] .tn-atom {
            background-position: center center;
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815225856 .tn-elem[data-elem-id="1682335500868"] {
            top: 28px;
            left: calc(50% - 600px + 60px);
            width: 90px;
            height: 130px;
        }


    }

    @media screen and (max-width: 1199px) {
        #rec815225856 .tn-elem[data-elem-id="1682335500868"] {
            left: calc(50% - 480px + 10px);
            width: 99px;
        }

        #rec815225856 .tn-elem[data-elem-id="1682335500868"] .tn-atom {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 959px) {
        #rec815225856 .tn-elem[data-elem-id="1682335500868"] {
            top: 0px;
            left: calc(50% - 320px + 0px);
            width: 100%;
            height: 254px;
            border-radius: 0px;
        }

        #rec815225856 .tn-elem[data-elem-id="1682335500868"] .tn-atom {
            border-radius: 0px;
        }
    }

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {
        #rec815225856 .tn-elem[data-elem-id="1682335500868"] {
            top: 0px;
            left: calc(50% - 160px + 0px);
        }


    }

    #rec815225856 .tn-elem[data-elem-id="1681820298248"] {
        color: #000000;
        z-index: 3;
        top: 77px;
        left: calc(50% - 960px + 171px);
        width: 295px;
    }

    #rec815225856 .tn-elem[data-elem-id="1681820298248"] .tn-atom {
        color: #000000;
        font-size: 46px;
        font-family: "Arial", Arial, sans-serif;
        line-height: 1.15;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 1919px) {}

    @media screen and (max-width: 1679px) {
        #rec815225856 .tn-elem[data-elem-id="1681820298248"] {
            left: calc(50% - 700px + 117px);
            width: 273px;
        }

        #rec815225856 .tn-elem[data-elem-id="1681820298248"] .tn-atom {
            font-size: 32px;
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815225856 .tn-elem[data-elem-id="1681820298248"] {
            top: 74px;
            left: calc(50% - 600px + 97px);
            width: 76px;
        }

        #rec815225856 .tn-elem[data-elem-id="1681820298248"] .tn-atom {
            font-size: 42px;
        }
    }

    @media screen and (max-width: 1199px) {
        #rec815225856 .tn-elem[data-elem-id="1681820298248"] {
            top: 76px;
            left: calc(50% - 480px + 30px);
        }

        #rec815225856 .tn-elem[data-elem-id="1681820298248"] .tn-atom {
            font-size: 38px;
        }
    }

    @media screen and (max-width: 959px) {
        #rec815225856 .tn-elem[data-elem-id="1681820298248"] {
            top: 40px;
            left: calc(50% - 320px + 0px);
        }

        #rec815225856 .tn-elem[data-elem-id="1681820298248"] {
            text-align: center;
        }
    }

    @media screen and (max-width: 639px) {
        #rec815225856 .tn-elem[data-elem-id="1681820298248"] {
            top: 40px;
            left: calc(50% - 240px + 0px);
        }
    }

    @media screen and (max-width: 479px) {
        #rec815225856 .tn-elem[data-elem-id="1681820298248"] {
            top: 40px;
            left: calc(50% - 160px + 0px);
        }
    }

    #rec815225856 .tn-elem[data-elem-id="1729504021575"] {
        z-index: 4;
        top: 113px;
        left: calc(50% - 960px + 1055px);
        width: 50px;
        height: 2px;
    }

    #rec815225856 .tn-elem[data-elem-id="1729504021575"] .tn-atom {
        border-radius: 25px;
        background-color: #0179ff;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 1919px) {}

    @media screen and (max-width: 1679px) {}

    @media screen and (max-width: 1399px) {
        #rec815225856 .tn-elem[data-elem-id="1729504021575"] {
            top: 113px;
            left: calc(50% - 600px + 1055px);
            width: 50px;
            height: 2px;
        }
    }

    @media screen and (max-width: 1199px) {}

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815225856 .tn-elem[data-elem-id="1729504294018"] {
        color: #000000;
        text-align: center;
        z-index: 5;
        top: 88px;
        left: calc(50% - 960px + 640px);
        width: 70px;
        height: 30px;
    }

    #rec815225856 .tn-elem[data-elem-id="1729504294018"] .tn-atom {
        color: #000000;
        font-size: 18px;
        font-family: "Manrope", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        border-width: 0px;
        border-radius: 0px;
        background-color: #ffffff;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        transition: background-color 0.2s ease-in-out,
            color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    @media (hover),
    (min-width: 0\0) {

        #rec815225856 .tn-elem[data-elem-id="1729504294018"] .tn-atom:hover {
            color: #0179ff;
        }
    }

    @media screen and (max-width: 1919px) {
        #rec815225856 .tn-elem[data-elem-id="1729504294018"] {
            top: 90px;
            left: calc(50% - 840px + 604px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815225856 .tn-elem[data-elem-id="1729504294018"] {
            top: 88px;
            left: calc(50% - 700px + 440px);
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815225856 .tn-elem[data-elem-id="1729504294018"] {
            top: 79px;
            left: calc(50% - 600px + 305px);
            width: 70px;
            height: 30px;
        }

        #rec815225856 .tn-elem[data-elem-id="1729504294018"] .tn-atom {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 1199px) {
        #rec815225856 .tn-elem[data-elem-id="1729504294018"] {
            top: 83px;
            left: calc(50% - 480px + 170px);
        }

        #rec815225856 .tn-elem[data-elem-id="1729504294018"] .tn-atom {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815225856 .tn-elem[data-elem-id="1729667635145"] {
        color: #000000;
        text-align: center;
        z-index: 6;
        top: 88px;
        left: calc(50% - 960px + 732px);
        width: 57px;
        height: 30px;
    }

    #rec815225856 .tn-elem[data-elem-id="1729667635145"] .tn-atom {
        color: #000000;
        font-size: 18px;
        font-family: "Manrope", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        border-width: 0px;
        border-radius: 0px;
        background-color: #ffffff;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        transition: background-color 0.2s ease-in-out,
            color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    @media (hover),
    (min-width: 0\0) {

        #rec815225856 .tn-elem[data-elem-id="1729667635145"] .tn-atom:hover {
            color: #0179ff;
        }
    }

    @media screen and (max-width: 1919px) {
        #rec815225856 .tn-elem[data-elem-id="1729667635145"] {
            top: 90px;
            left: calc(50% - 840px + 696px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815225856 .tn-elem[data-elem-id="1729667635145"] {
            top: 88px;
            left: calc(50% - 700px + 532px);
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815225856 .tn-elem[data-elem-id="1729667635145"] {
            top: 79px;
            left: calc(50% - 600px + 397px);
            width: 57px;
            height: 30px;
        }

        #rec815225856 .tn-elem[data-elem-id="1729667635145"] .tn-atom {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 1199px) {
        #rec815225856 .tn-elem[data-elem-id="1729667635145"] {
            top: 83px;
            left: calc(50% - 480px + 262px);
        }

        #rec815225856 .tn-elem[data-elem-id="1729667635145"] .tn-atom {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815225856 .tn-elem[data-elem-id="1729667646836"] {
        color: #000000;
        text-align: center;
        z-index: 7;
        top: 88px;
        left: calc(50% - 960px + 812px);
        width: 74px;
        height: 30px;
    }

    #rec815225856 .tn-elem[data-elem-id="1729667646836"] .tn-atom {
        color: #000000;
        font-size: 18px;
        font-family: "Manrope", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        border-width: 0px;
        border-radius: 0px;
        background-color: #ffffff;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        transition: background-color 0.2s ease-in-out,
            color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    @media (hover),
    (min-width: 0\0) {

        #rec815225856 .tn-elem[data-elem-id="1729667646836"] .tn-atom:hover {
            color: #0179ff;
        }
    }

    @media screen and (max-width: 1919px) {
        #rec815225856 .tn-elem[data-elem-id="1729667646836"] {
            top: 90px;
            left: calc(50% - 840px + 776px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815225856 .tn-elem[data-elem-id="1729667646836"] {
            top: 88px;
            left: calc(50% - 700px + 612px);
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815225856 .tn-elem[data-elem-id="1729667646836"] {
            top: 79px;
            left: calc(50% - 600px + 477px);
            width: 74px;
            height: 30px;
        }

        #rec815225856 .tn-elem[data-elem-id="1729667646836"] .tn-atom {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 1199px) {
        #rec815225856 .tn-elem[data-elem-id="1729667646836"] {
            top: 83px;
            left: calc(50% - 480px + 342px);
        }

        #rec815225856 .tn-elem[data-elem-id="1729667646836"] .tn-atom {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815225856 .tn-elem[data-elem-id="1729839220590"] {
        color: #000000;
        text-align: center;
        z-index: 8;
        top: 63px;
        left: calc(50% - 960px + 1305px);
        width: 233px;
    }

    #rec815225856 .tn-elem[data-elem-id="1729839220590"] .tn-atom {
        color: #000000;
        font-size: 26px;
        font-family: "Manrope", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 1919px) {
        #rec815225856 .tn-elem[data-elem-id="1729839220590"] {
            top: 64px;
            left: calc(50% - 840px + 1113px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815225856 .tn-elem[data-elem-id="1729839220590"] {
            top: 65px;
            left: calc(50% - 700px + 865px);
        }

        #rec815225856 .tn-elem[data-elem-id="1729839220590"] .tn-atom {
            font-size: 24px;
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815225856 .tn-elem[data-elem-id="1729839220590"] {
            top: 58px;
            left: calc(50% - 600px + 680px);
            width: 216px;
        }

        #rec815225856 .tn-elem[data-elem-id="1729839220590"] .tn-atom {
            font-size: 22px;
        }
    }

    @media screen and (max-width: 1199px) {
        #rec815225856 .tn-elem[data-elem-id="1729839220590"] {
            top: 63px;
            left: calc(50% - 480px + 542px);
            width: 183px;
        }

        #rec815225856 .tn-elem[data-elem-id="1729839220590"] .tn-atom {
            font-size: 20px;
        }
    }

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815225856 .tn-elem[data-elem-id="1729839290414"] {
        color: #0179ff;
        text-align: center;
        z-index: 9;
        top: 86px;
        left: calc(50% - 960px + 1105px);
        width: 200px;
        height: 35px;
    }

    #rec815225856 .tn-elem[data-elem-id="1729839290414"] .tn-atom {
        color: #0179ff;
        font-size: 16px;
        font-family: "Manrope", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        border-radius: 30px;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        transition: background-color 0.2s ease-in-out,
            color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    @media (hover),
    (min-width: 0\0) {

        #rec815225856 .tn-elem[data-elem-id="1729839290414"] .tn-atom:hover {
            color: #1976dd;
        }
    }

    @media screen and (max-width: 1919px) {}

    @media screen and (max-width: 1679px) {}

    @media screen and (max-width: 1399px) {
        #rec815225856 .tn-elem[data-elem-id="1729839290414"] {
            top: 86px;
            left: calc(50% - 600px + 1105px);
            width: 200px;
            height: 35px;
        }

        #rec815225856 .tn-elem[data-elem-id="1729839290414"] .tn-atom {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 1199px) {}

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815225856 .tn-elem[data-elem-id="1729839442032"] {
        color: #000000;
        text-align: center;
        z-index: 10;
        top: 101px;
        left: calc(50% - 960px + 1305px);
        width: 235px;
    }

    #rec815225856 .tn-elem[data-elem-id="1729839442032"] .tn-atom {
        color: #000000;
        font-size: 26px;
        font-family: "Manrope", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    @media screen and (max-width: 1919px) {
        #rec815225856 .tn-elem[data-elem-id="1729839442032"] {
            top: 102px;
            left: calc(50% - 840px + 1115px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815225856 .tn-elem[data-elem-id="1729839442032"] {
            top: 103px;
            left: calc(50% - 700px + 867px);
        }

        #rec815225856 .tn-elem[data-elem-id="1729839442032"] .tn-atom {
            font-size: 24px;
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815225856 .tn-elem[data-elem-id="1729839442032"] {
            top: 96px;
            left: calc(50% - 600px + 682px);
            width: 216px;
        }

        #rec815225856 .tn-elem[data-elem-id="1729839442032"] .tn-atom {
            font-size: 22px;
        }
    }

    @media screen and (max-width: 1199px) {
        #rec815225856 .tn-elem[data-elem-id="1729839442032"] {
            top: 101px;
            left: calc(50% - 480px + 544px);
            width: 183px;
        }

        #rec815225856 .tn-elem[data-elem-id="1729839442032"] .tn-atom {
            font-size: 20px;
        }
    }

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815225856 .tn-elem[data-elem-id="1729865288091"] {
        z-index: 11;
        top: 70px;
        left: calc(50% - 960px + 1571px);
        width: 203px;
    }

    #rec815225856 .tn-elem[data-elem-id="1729865288091"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    #rec815225856 .tn-elem[data-elem-id="1729865288091"] .tn-atom__vector svg {
        display: block;
    }

    @media screen and (max-width: 1919px) {
        #rec815225856 .tn-elem[data-elem-id="1729865288091"] {
            top: 71px;
            left: calc(50% - 840px + 1362px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815225856 .tn-elem[data-elem-id="1729865288091"] {
            top: 69px;
            left: calc(50% - 700px + 1097px);
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815225856 .tn-elem[data-elem-id="1729865288091"] {
            top: 63px;
            left: calc(50% - 600px + 917px);
            width: 203px;
        }
    }

    @media screen and (max-width: 1199px) {
        #rec815225856 .tn-elem[data-elem-id="1729865288091"] {
            top: 67px;
            left: calc(50% - 480px + 733px);
        }
    }

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815225856 .tn-elem[data-elem-id="1730092791587"] {
        color: #000000;
        text-align: center;
        z-index: 12;
        top: 88px;
        left: calc(50% - 960px + 908px);
        width: 74px;
        height: 30px;
    }

    #rec815225856 .tn-elem[data-elem-id="1730092791587"] .tn-atom {
        color: #000000;
        font-size: 18px;
        font-family: "Manrope", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        border-width: 0px;
        border-radius: 0px;
        background-color: #ffffff;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        transition: background-color 0.2s ease-in-out,
            color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    @media (hover),
    (min-width: 0\0) {

        #rec815225856 .tn-elem[data-elem-id="1730092791587"] .tn-atom:hover {
            color: #0179ff;
        }
    }

    @media screen and (max-width: 1919px) {
        #rec815225856 .tn-elem[data-elem-id="1730092791587"] {
            top: 90px;
            left: calc(50% - 840px + 872px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815225856 .tn-elem[data-elem-id="1730092791587"] {
            top: 88px;
            left: calc(50% - 700px + 708px);
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815225856 .tn-elem[data-elem-id="1730092791587"] {
            top: 79px;
            left: calc(50% - 600px + 573px);
            width: 74px;
            height: 30px;
        }

        #rec815225856 .tn-elem[data-elem-id="1730092791587"] .tn-atom {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 1199px) {
        #rec815225856 .tn-elem[data-elem-id="1730092791587"] {
            top: 83px;
            left: calc(50% - 480px + 438px);
        }

        #rec815225856 .tn-elem[data-elem-id="1730092791587"] .tn-atom {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815225856 .tn-elem[data-elem-id="1730527981398"] {
        z-index: 13;
        top: 59px;
        left: calc(50% - 960px + 180px);
        width: 298px;
    }

    #rec815225856 .tn-elem[data-elem-id="1730527981398"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
    }

    #rec815225856 .tn-elem[data-elem-id="1730527981398"] .tn-atom__vector svg {
        display: block;
    }

    @media screen and (max-width: 1919px) {
        #rec815225856 .tn-elem[data-elem-id="1730527981398"] {
            left: calc(50% - 840px + 178px);
        }
    }

    @media screen and (max-width: 1679px) {
        #rec815225856 .tn-elem[data-elem-id="1730527981398"] {
            top: 64px;
            left: calc(50% - 700px + 100px);
            width: 264px;
        }
    }

    @media screen and (max-width: 1399px) {
        #rec815225856 .tn-elem[data-elem-id="1730527981398"] {
            top: 70px;
            left: calc(50% - 600px + 99px);
            width: 157px;
        }
    }

    @media screen and (max-width: 1199px) {}

    @media screen and (max-width: 959px) {}

    @media screen and (max-width: 639px) {}

    @media screen and (max-width: 479px) {}

    #rec815226323 .t119__preface {
        opacity: 0.7;
    }

    .t-menuburger {
        position: relative;
        flex-shrink: 0;
        width: 28px;
        height: 20px;
        padding: 0;
        border: none;
        background-color: transparent;
        outline: none;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: transform 0.5s ease-in-out;
        cursor: pointer;
        z-index: 999;
    }

    .t-menuburger span {
        display: block;
        position: absolute;
        width: 100%;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        height: 3px;
        background-color: #000;
    }

    .t-menuburger span:nth-child(1) {
        top: 0px;
    }

    .t-menuburger span:nth-child(2),
    .t-menuburger span:nth-child(3) {
        top: 8px;
    }

    .t-menuburger span:nth-child(4) {
        top: 16px;
    }

    .t-menuburger__big {
        width: 42px;
        height: 32px;
    }

    .t-menuburger__big span {
        height: 5px;
    }

    .t-menuburger__big span:nth-child(2),
    .t-menuburger__big span:nth-child(3) {
        top: 13px;
    }

    .t-menuburger__big span:nth-child(4) {
        top: 26px;
    }

    .t-menuburger__small {
        width: 22px;
        height: 14px;
    }

    .t-menuburger__small span {
        height: 2px;
    }

    .t-menuburger__small span:nth-child(2),
    .t-menuburger__small span:nth-child(3) {
        top: 6px;
    }

    .t-menuburger__small span:nth-child(4) {
        top: 12px;
    }

    .t-menuburger-opened span:nth-child(1) {
        top: 8px;
        width: 0%;
        left: 50%;
    }

    .t-menuburger-opened span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .t-menuburger-opened span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .t-menuburger-opened span:nth-child(4) {
        top: 8px;
        width: 0%;
        left: 50%;
    }

    .t-menuburger-opened.t-menuburger__big span:nth-child(1) {
        top: 6px;
    }

    .t-menuburger-opened.t-menuburger__big span:nth-child(4) {
        top: 18px;
    }

    .t-menuburger-opened.t-menuburger__small span:nth-child(1),
    .t-menuburger-opened.t-menuburger__small span:nth-child(4) {
        top: 6px;
    }

    @media (hover),
    (min-width: 0\0) {
        .t-menuburger_first:hover span:nth-child(1) {
            transform: translateY(1px);
        }

        .t-menuburger_first:hover span:nth-child(4) {
            transform: translateY(-1px);
        }

        .t-menuburger_first.t-menuburger__big:hover span:nth-child(1) {
            transform: translateY(3px);
        }

        .t-menuburger_first.t-menuburger__big:hover span:nth-child(4) {
            transform: translateY(-3px);
        }
    }

    .t-menuburger_second span:nth-child(2),
    .t-menuburger_second span:nth-child(3) {
        width: 80%;
        left: 20%;
        right: 0;
    }

    @media (hover),
    (min-width: 0\0) {

        .t-menuburger_second.t-menuburger-hovered span:nth-child(2),
        .t-menuburger_second.t-menuburger-hovered span:nth-child(3) {
            animation: t-menuburger-anim 0.3s ease-out normal forwards;
        }

        .t-menuburger_second.t-menuburger-unhovered span:nth-child(2),
        .t-menuburger_second.t-menuburger-unhovered span:nth-child(3) {
            animation: t-menuburger-anim2 0.3s ease-out normal forwards;
        }
    }

    .t-menuburger_second.t-menuburger-opened span:nth-child(2),
    .t-menuburger_second.t-menuburger-opened span:nth-child(3) {
        left: 0;
        right: 0;
        width: 100% !important;
    }

    .t-menuburger_third span:nth-child(4) {
        width: 70%;
        left: unset;
        right: 0;
    }

    @media (hover),
    (min-width: 0\0) {
        .t-menuburger_third:not(.t-menuburger-opened):hover span:nth-child(4) {
            width: 100%;
        }
    }

    .t-menuburger_third.t-menuburger-opened span:nth-child(4) {
        width: 0 !important;
        right: 50%;
    }

    .t-menuburger_fourth {
        height: 12px;
    }

    .t-menuburger_fourth.t-menuburger__small {
        height: 8px;
    }

    .t-menuburger_fourth.t-menuburger__big {
        height: 18px;
    }

    .t-menuburger_fourth span:nth-child(2),
    .t-menuburger_fourth span:nth-child(3) {
        top: 4px;
        opacity: 0;
    }

    .t-menuburger_fourth span:nth-child(4) {
        top: 8px;
    }

    .t-menuburger_fourth.t-menuburger__small span:nth-child(2),
    .t-menuburger_fourth.t-menuburger__small span:nth-child(3) {
        top: 3px;
    }

    .t-menuburger_fourth.t-menuburger__small span:nth-child(4) {
        top: 6px;
    }

    .t-menuburger_fourth.t-menuburger__small span:nth-child(2),
    .t-menuburger_fourth.t-menuburger__small span:nth-child(3) {
        top: 3px;
    }

    .t-menuburger_fourth.t-menuburger__small span:nth-child(4) {
        top: 6px;
    }

    .t-menuburger_fourth.t-menuburger__big span:nth-child(2),
    .t-menuburger_fourth.t-menuburger__big span:nth-child(3) {
        top: 6px;
    }

    .t-menuburger_fourth.t-menuburger__big span:nth-child(4) {
        top: 12px;
    }

    @media (hover),
    (min-width: 0\0) {
        .t-menuburger_fourth:not(.t-menuburger-opened):hover span:nth-child(1) {
            transform: translateY(1px);
        }

        .t-menuburger_fourth:not(.t-menuburger-opened):hover span:nth-child(4) {
            transform: translateY(-1px);
        }

        .t-menuburger_fourth.t-menuburger__big:not(.t-menuburger-opened):hover span:nth-child(1) {
            transform: translateY(3px);
        }

        .t-menuburger_fourth.t-menuburger__big:not(.t-menuburger-opened):hover span:nth-child(4) {
            transform: translateY(-3px);
        }
    }

    .t-menuburger_fourth.t-menuburger-opened span:nth-child(1),
    .t-menuburger_fourth.t-menuburger-opened span:nth-child(4) {
        top: 4px;
    }

    .t-menuburger_fourth.t-menuburger-opened span:nth-child(2),
    .t-menuburger_fourth.t-menuburger-opened span:nth-child(3) {
        opacity: 1;
    }

    @keyframes t-menuburger-anim {
        0% {
            width: 80%;
            left: 20%;
            right: 0;
        }

        50% {
            width: 100%;
            left: 0;
            right: 0;
        }

        100% {
            width: 80%;
            left: 0;
            right: 20%;
        }
    }

    @keyframes t-menuburger-anim2 {
        0% {
            width: 80%;
            left: 0;
        }

        50% {
            width: 100%;
            right: 0;
            left: 0;
        }

        100% {
            width: 80%;
            left: 20%;
            right: 0;
        }
    }

    #rec817379051 .t-menu__link-item {
        position: relative;
    }

    #rec817379051 .t-menu__link-item.t-active::after {
        content: "";
        position: absolute;
        left: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity: 1;
        width: 100%;
        height: 100%;
        bottom: -1px;
        border-bottom: 1px solid #0179ff;
        -webkit-box-shadow: inset 0px -1px 0px 0px #0179ff;
        -moz-box-shadow: inset 0px -1px 0px 0px #0179ff;
        box-shadow: inset 0px -1px 0px 0px #0179ff;
    }

    @supports (overflow: -webkit-marquee) and (justify-content: inherit) {

        #rec817379051 .t-menu__link-item,
        #rec817379051 .t-menu__link-item.t-active {
            opacity: 1 !important;
        }
    }


    #rec817379051 .t282__logo {
        font-size: 26px;
        color: #0179ff;
        font-weight: 700;
        font-family: "Manrope";
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }


    #rec817379051 .t282__logo__content .t-title {
        font-size: 26px;
        color: #0179ff;
        font-weight: 700;
        font-family: "Manrope";
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    #rec817379051 a.t282__menu__link {
        font-size: 24px;
        color: #000000;
        font-weight: 400;
    }

    #rec817379051 .t282__descr {
        font-size: 20px;
        color: #000000;
    }

    #rec817379051 .t282__lang a {
        font-size: 20px;
        color: #000000;
    }

    #rec817379051 .t282__container__bg {
        box-shadow: 0px 15px 30px -10px rgba(0, 11, 48, 0.2);
    }

    #rec817381386 .t119__preface {
        opacity: 0.7;
    }

    #rec818684168 .t119__preface {
        opacity: 0.7;
    }

    .menu * {
        width: max-content !important;
        display: block !important;
        transition: all 0.3s ease-in-out;
    }

    /* 1 — подчеркивание активного пункта */
    .menu:hover .tn-atom,
    .menu.active .tn-atom {
        border-bottom: solid 2px #0179ff !important;
    }

    /* 2 — цвет и прозрачность для активного пункта*/
    .menu:hover .tn-atom a,
    .menu.active .tn-atom a {
        color: #0179ff !important;
        opacity: 0.3;
    }

    /* 3 — прозрачность неактивных пунктов меню */
    .menu .tn-atom a {
        opacity: 0.3;
    }

    .menu:hover .tn-atom a,
    .menu.active .tn-atom a {
        color: #0179ff !important;
        opacity: 1;
    }

    .btn-callphone {
        transition: all 0.3s ease-in-out;
    }

    .btn-callphone:hover {
        transform: scale(1.1);
        transition: all 0.2s ease-in-out;
    }

    .btn_menu01:hover .tn-atom {
        color: #0179ff !important;
    }

    .t-feed__post-popup {
        margin-top: -50px;
        background-color: #dcf0ff !important;
    }

    .t-feed__post-popup__content-wrapper {
        background-color: #ffffff !important;
        padding: inherit;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 25px;
    }
}